<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="students-data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Approved</th>
                <th>StudentID</th>
                <th>First Major</th>
                <th>Advisor</th>
                <th>Date Created</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for s in student %}
            <tr>
                <td>
                    <a href="{% url 'studentcm' s.student_id %}">
                        {{s.firstname}} {{s.lastname}}
                    </a>
                </td>
                <td class='center'>
                    <input type="checkbox" name="approve" class="approved"
                        id="approve_{{s.changemajor_no}}" value="{{s.changemajor_no}}" {% if s.approved = 'Y' %} checked {% endif %} />
                </td>
                <td class='center'>
                    {{s.student_id}}
                </td>
                <td class='center'>
                    {{s.major1}}
                </td>                
                <td class='center'>
                    {{s.advisor_id}}
                </td>
                <td class='center'>
                    {{s.datecreated}}
                </td>
                <td>
                    <form name='delete_form' action='' method='post'>
                        {% csrf_token %}
                        <input type='hidden' id='record' name='record' value='{{s.changemajor_no}}'>
                        <input type='submit' value='Delete'>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
