{% extends "changemajor/home.html" %}
{% block extra_style %}
{{block.super}}
<link href="/static/djsani/css/print.css"
    rel="stylesheet" type="text/css" media="print" />
<style>
.dl-horizontal dt.widus {
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
.center{text-align:center;}
.red {color:#800;}
.green {color:#008000;}
</style>
{% endblock %}
{% block content %}
<div id="student-container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">
                {{student.firstname}} {{student.lastname}}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-8" id="student-contact">
                            <address>
                            {{student.addr_line1}} {{student.addr_line2}}<br>
                            {{student.city}}, {{student.st}}<br>
                            {{student.zip}} {{student.ctry}}<br>
                            <abbr title="Phone">P:</abbr>
                            {{student.phone}}<br>
                            </a>
                            </address>
                        </div>
                    </div> <!-- /.row -->
                </div> <!--/.panel-heading -->
            </div> <!-- /.panel-success -->
        </div> <!-- /.col-lg-4 -->
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Student Information
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        Student ID<pre>{{student.student_id}}</pre>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        Current Major(s)<pre>{{majors.major1}}</pre>
                    </div>
                </div>                
                <!-- /.panel-heading -->
                {% if majors.major2 %}
                    <div class="panel-body">
                        <div>
                            <pre>{{majors.major2}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if majors.major3 %}
                    <div class="panel-body">
                        <div>
                            <pre>{{majors.major3}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if majors.minor1 %}
                    <div class="panel-body">
                        <div>
                            Current Minor(s)<pre>{{majors.minor1}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if majors.minor2 %}
                    <div class="panel-body">
                        <div>
                            <pre>{{majors.minor2}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if majors.minor3 %}
                    <div class="panel-body">
                        <div>
                            <pre>{{majors.minor3}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                <div class="panel-body">
                    <div>
                        Date Created:<pre>{{student.datecreated}}</pre>
                    </div>
                </div>
            </div><!-- /.panel-info -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Majors and Minors Requested
                    </h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        Requested Major(s)<pre>{{reqmajors.major_txt1}}</pre>
                    </div>
                </div>
                <!-- /.panel-heading -->
                {% if student.major2 != "None" %}
                    <div class="panel-body">
                        <div>
                            <pre>{{reqmajors.major_txt2}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if student.major3 != "None" %}
                    <div class="panel-body">
                        <div>
                            <pre>{{reqmajors.major_txt3}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if student.minor1 != "None" %}
                    <div class="panel-body">
                        <div>
                            Requested Minor(s)<pre>{{reqmajors.minor_txt1}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if student.minor2 != "None" %}
                    <div class="panel-body">
                        <div>
                            <pre>{{reqmajors.minor_txt2}}</pre>
                        </div>
                    </div>                
                <!-- /.panel-heading -->
                {% endif %}
                {% if student.minor3 != "None" %}
                    <div class="panel-body">
                        <div>
                            <pre>{{reqmajors.minor_txt3}}</pre>
                        </div>
                    </div>                
                {% endif %}
                <div class="panel-body">
                    <div>
                        Advisor ID<pre>{{student.advisor_id}}</pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Approval
                    </h3>
                </div>                
                <div class="panel-body">
                    <div>
                        Approved<pre>{{student.approved}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /#student-container -->
{% endblock content %}
