{% extends "djkorra/base.html" %}
<!DOCTYPE html>
<html lang='en'>
<head>
<style>
#id_majors, #id_minors, #id_majors_list, #id_minors_list{
        min-width: 100px;
}
</style>
    <meta charset="utf-8" />
    <title>Change Major/Minor Form</title>
    <link rel='stylesheet' type='text/css' href='{{static_url}}djbuis/css/base_css.css'/>
    <script type='text/javascript'>
        function validate_student_id(){
            var id = document.getElementById('id_student_id');
            var val = id.value;
            var patt = new RegExp('^\\d{5,7}$');
            return patt.test(val);            
        }
        function validate_name(){
            var id = document.getElementById('id_name');
            var val = id.value;
            var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
            return patt.test(val);        
        }
        function validate_advisor(){
            var id = document.getElementById('id_advisor');
            var val = id.value;
            var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
            return patt.test(val);        
        }
        function add_major(){
                var major_list = document.getElementById('id_majors_list');
                var majors = document.getElementById('id_majors');
                while(major_list.selectedIndex!=-1)
                {
                        var pos = 0;
                        for(pos=0;pos<majors.length;pos++)
                        {
                                if(major_list[major_list.selectedIndex].label<majors[pos].label)
                                {
                                        break;
                                }
                        }
                        majors.add(major_list[major_list.selectedIndex],majors[pos]);
                        majors.selectedIndex=-1;
                }
        }
        function remove_major(){
                var major_list = document.getElementById('id_majors_list');
                var majors = document.getElementById('id_majors');
                while(majors.selectedIndex!=-1)
                {
                        var pos = 0;
                        for(pos=0;pos<major_list.length;pos++)
                        {
                                if(majors[majors.selectedIndex].label<major_list[pos].label)
                                {
                                        break;
                                }
                        }
                        major_list.add(majors[majors.selectedIndex],major_list[pos]);
                        major_list.selectedIndex=-1;
                }
        }
        function add_minor(){
                var minor_list = document.getElementById('id_minors_list');
                var minors = document.getElementById('id_minors');
                while(minor_list.selectedIndex!=-1)
                {
                        var pos = 0;
                        for(pos=0;pos<minors.length;pos++)
                        {
                                if(minor_list[minor_list.selectedIndex].label<minors[pos].label)
                                {
                                        break;
                                }
                        }
                        minors.add(minor_list[minor_list.selectedIndex],minors[pos]);
                        minors.selectedIndex=-1;
                }
        
        }
        function remove_minor(){
                var minor_list = document.getElementById('id_minors_list');
                var minors = document.getElementById('id_minors');
                while(minors.selectedIndex!=-1)
                {
                        var pos = 0;
                        for(pos=0;pos<minor_list.length;pos++)
                        {
                                if(minors[minors.selectedIndex].label<minor_list[pos].label)
                                {
                                        break;
                                }
                        }
                        minor_list.add(minors[minors.selectedIndex],minor_list[pos]);
                        minor_list.selectedIndex=-1;
                }
        }
        function setSelected()
        {
                majors = document.getElementById('id_majors');
                minors = document.getElementById('id_minors');
                for(var i=0; i<majors.length;i++)
                {
                        majors[i].selected = true;
                }
                for(var i=0; i<minors.length; i++)
                {
                        minors[i].selected = true;
                }
                return true;
        }
    </script>
</head>
<body>
<div style='width:100%'>
{% if submitted %}
        <h2>Your form has been submitted, thank you</h2>
{% endif %}
</div>
    <div>
        <div class='sidebar'>
            <img src='http://imageshack.us/a/img651/7008/carthage1.png'></img>
        </div>
        <div class='mainbar'>
            <div class='header'>
                <text class='headertext'>Change Major / Minor Form</text>
            </div><br>
            {{ form.non_field_errors }}
            <form action='' method='post' onsubmit='setSelected()'>{% csrf_token %}
                <text class='separator'>Student information</text><hr>
                {% for field in form.hidden_fields %}
                        {{ field }}
                        {{ field.errors }}
                {% endfor %}
                <table>
                    <!--<tr>
                        <td><text class='fieldlabel'>{{ form.student_id.label }}</text></td>
                        <td>{{ form.student_id }}</td>
                        <td>
                            <img class='hidden' id='student_id_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='student_id_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.student_id.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.name.label }}</text></td>
                        <td>{{ form.name }}</td>
                        <td>
                            <img class='hidden' id='name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.name.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>-->
                    <tr>
                        <td><text class='fieldlabel'>{{ form.year.label }}</text></td>
                        <td>{{ class_year }}</td>
                        <td>
                            {% for e in form.year.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Major / Minor information</text><hr>
               <div style='width:100%;'><text>{{ mm_form.majors.help_text }}</text></div>
                <div style='width:100%;'><text>I would like my majors/minors listed as...</text></div>
                <table>
                
                    <tr>
                     
                        <td><text class='fieldlabel'>{{ mm_form.majors_list.label }}</td>
                        <td>{{ mm_form.majors_list }}</td>
                        <td>
                            {% for e in mm_form.majors_list.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><button type='button' onclick='add_major()'>Add</button>
                        <br>
                        <button type='button' onclick='remove_major()'>Remove</button></td>
                        <td><text class='fieldlabel'>{{ mm_form.majors.label }}</td>
                        <td style='width:100px;'>{{ mm_form.majors }}</td>
                        <td>
                            {% for e in mm_form.majors.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td><text class='fieldlabel'>{{ mm_form.minors_list.label }}</td>
                        <td>{{ mm_form.minors_list }}</td>
                        <td>
                            {% for e in mm_form.minors_list.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                        <td><button type='button' onclick='add_minor()'>Add</button>
                        <br>
                        <button type='button' onclick='remove_minor()'>Remove</button></td>
                        <td><text class='fieldlabel'>{{ mm_form.minors.label }}</td>
                        <td style='width:100px;'>{{ mm_form.minors }}</td>
                        <td>
                            {% for e in mm_form.minors.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br>
                <text class='separator'>Advisor information</text><hr>
                <text>I would like to change my advisor to... (leave blank for no change)</text>
                <table>
                    <tr>
                        <td><text class='fieldlabel'>{{ form.advisor.label }}</td>
                        <td>{{ form.advisor }}</td>
                        <td>
                            <img class='hidden' id='advisor_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                            <img class='hidden' id='advisor_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                            {% for e in form.advisor.errors %}
                                <text class='error'>*{{ e }}</text>
                            {% endfor %}
                        </td>
                    </tr>
                </table><br><br>
                <input type="submit" name="submit" value="Submit form">
            </form>
        </div>
    </div>
</body>
    <script type='text/javascript'>
 
       /* var element = document.getElementById('id_student_id');
        element.onblur = function(){
            var n=document.getElementById('student_id_no');
            var y=document.getElementById('student_id_yes');
            if(!validate_student_id()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
        var element = document.getElementById('id_name');
        element.onblur = function(){
            var n=document.getElementById('name_no');
            var y=document.getElementById('name_yes');
            if(!validate_name()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };*/
        var element2 = document.getElementById('id_advisor');
        element2.onblur = function(){
            var n=document.getElementById('advisor_no');
            var y=document.getElementById('advisor_yes');
            if(!validate_advisor()){ 
                n.style.display='inline'; y.style.display='none'; 
            }
            else {
                n.style.display='none'; y.style.display='inline';
            }
        };
    </script>
</html>
