{% extends "djkorra/base.html" %}
{% block title %}
    System Access
{% endblock %}
{% block content_head %}
    <h1 id="page-title">System Access Form</h1>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    $("img.hidden").hide();
    function create_validator(regex) {
        return function (field) {
            var patt = new RegExp(regex);
            return patt.test(field.val());
        }
    }
    var validate_id = create_validator('^(\\d{5,7})$');
    var validate_name = create_validator('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
    var validate_department = create_validator('^((?:[a-zA-Z]+\\s?)+[a-zA-Z]+)$'); //also works for position field
    var validate_phone = create_validator('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
    
    var validators = {"id_carthage_id": validate_id,
                        "id_full_name": validate_name,
                        "id_department": validate_department,
                        "id_position": validate_department,
                        "id_work_phone": validate_phone}
                        
    $($.map($('[id$="yes"]'), function (thing) {return '#id_' + thing.id.replace('_yes','');}).join()).change(function() {
        if(!validators[$(this).attr('id')]($(this)))
        {
            $('#' + $(this).attr('id').replace('id_','') + '_no').show();
            $('#' + $(this).attr('id').replace('id_','') + '_yes').hide();
        }
        else
        {
            $('#' + $(this).attr('id').replace('id_','') + '_no').hide();
            $('#' + $(this).attr('id').replace('id_','') + '_yes').show();
        }
    });
    

</script>
{% endblock %}
{% block content %}
<form action='' method='post' class = "form">{% csrf_token %}
    <fieldset class="blockLabels">
        <legend>Personal Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_carthage_id">Carthage ID</label></h3>
                <div class='required'>
                    {{form.carthage_id}}
                    {{form.carthage_id.errors}}
                    <img class='hidden' id='carthage_id_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='carthage_id_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_full_name">Full Name</label></h3>
                <div class='required'>
                    {{form.full_name}}
                    {{form.full_name.errors}}
                    <img class='hidden' id='full_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='full_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_department">Department</label></h3>
                <div class='required'>
                    {{form.department}}
                    {{form.department.errors}}
                    <img class='hidden' id='department_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='department_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_position">Position</label></h3>
                <div class='required'>
                    {{form.position}}
                    {{form.position.errors}}
                    <img class='hidden' id='position_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='position_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_work_phone">Work Phone:</label></h3>
                <div class='required'>
                    {{form.work_phone}}
                    {{form.work_phone.errors}}
                    <img class='hidden' id='work_phone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='work_phone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>        
        </ol>
    </fieldset>
    <fieldset class="blockLabels">
        <legend>Permissions</legend>
        <ol>
            <li class="ctrlHolder">
                <table border='1'>
                    <tr>
                        <th>General</th>
                        <th></th>
                        <th>Special</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{ form.email }}</td>
                        <td>{{ form.email.label }}</td>
                        <td>{{ form.control }}</td>
                        <td>{{ form.control.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.novell_file_and_print_access }}</td>
                        <td>{{ form.novell_file_and_print_access.label }}</td>
                        <td>{{ form.programming }}</td>
                        <td>{{ form.programming.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.eracer }}</td>
                        <td>{{ form.eracer.label }}</td>
                        <td>{{ form.admissions }}</td>
                        <td>{{ form.admissions.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.common }}</td>
                        <td>{{ form.common.label }}</td>
                        <td>{{ form.recruiting }}</td>
                        <td>{{ form.recruiting.label }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>Special</th>
                        <td>{{ form.student_billing }}</td>
                        <td>{{ form.student_billing.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.financial }}</td>
                        <td>{{ form.financial.label }}</td>
                        <td>{{ form.student }}</td>
                        <td>{{ form.student.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.student_services }}</td>
                        <td>{{ form.student_services.label }}</td>
                        <td>{{ form.management }}</td>
                        <td>{{ form.management.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.financial_aid }}</td>
                        <td>{{ form.financial_aid.label }}</td>
                        <td>{{ form.registrar }}</td>
                        <td>{{ form.registrar.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.display_registration }}</td>
                        <td>{{ form.display_registration.label }}</td>
                        <td>{{ form.development }}</td>
                        <td>{{ form.development.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.donor_accounting }}</td>
                        <td>{{ form.donor_accounting.label }}</td>
                        <td>{{ form.planned_giving }}</td>
                        <td>{{ form.planned_giving.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.institutional_advancement_grants }}</td>
                        <td>{{ form.institutional_advancement_grants.label }}</td>
                        <td>{{ form.alumni }}</td>
                        <td>{{ form.alumni.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.phonathon }}</td>
                        <td>{{ form.phonathon.label }}</td>
                        <td>{{ form.health }}</td>
                        <td>{{ form.health.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.add_id_records }}</td>
                        <td>{{ form.add_id_records.label }}</td>
                        <td>{{ form.registrar_administration }}</td>
                        <td>{{ form.registrar_administration.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.financial_administration }}</td>
                        <td>{{ form.financial_administration.label }}</td>
                        <td>{{ form.admissions_administration }}</td>
                        <td>{{ form.admissions_administration.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.training }}</td>
                        <td>{{ form.training.label }}</td>
                        <td>{{ form.cisco_vpn_remote_access_to_network }}</td>
                        <td>{{ form.cisco_vpn_remote_access_to_network.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.administrative_access_to_user_machines }}</td>
                        <td>{{ form.administrative_access_to_user_machines.label }}</td>
                        <td>{{ form.network_security_administration }}</td>
                        <td>{{ form.network_security_administration.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.system_administration }}</td>
                        <td>{{ form.system_administration.label }}</td>
                        <td>{{ form.cognos }}</td>
                        <td>{{ form.cognos.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.author }}</td>
                        <td>{{ form.author.label }}</td>
                        <td>{{ form.consumer }}</td>
                        <td>{{ form.consumer.label }}</td>
                    </tr>
                </table>
            </li>
            <li class="ctrlHolder"><h3><label for="id_reason_for_change">Reason for Change:</label></h3>
                <div class='required'>
                    {{ form.reason_for_change }}
                </div>
            </li>
            <li class ="ctrlHolder" id='otherli'><h3><label for="id_other_textbox">Other:</label></h3>
                <div class='required'>
                    <input type='text' name='other' id='id_other_textbox' maxlength=100/>
                </div>
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>    
        </ol>
    </fieldset>
</form>
{% endblock %}
