{% block extra_style %}
<link href="http://www.carthage.edu/static/vendor/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<style>
.row {
    margin: 1em;
}
.ui-autocomplete.ui-menu {
    z-index: 10000;
  }
.center{text-align:center;}
.red {color:#800;}
.green {color:#008000;}
div.DTTT {
float: right;
margin-bottom: 1em;
position: relative;
}
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.imgur.com/VOYFJhg.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script>
jQuery( document ).ready(function() {
    jQuery("#search").hide();
    var regex = new RegExp('^(\\d{5,7})$');  
    var list = new Array();
    {% for stud in full_student_list %}
        list.push({label: '{{stud.lastname}}, {{stud.firstname}} {{stud.student_id}}',
                    value: {{stud.student_id}}});
    {% endfor %}
    jQuery('[name=cid]').autocomplete({source: list,
                                      change: noBlank});
    jQuery('[name=cid]').autocomplete("enable");
      
    jQuery('[name=cid]').on("input", noBlank);
    
    function noBlank() {
        var res = regex.test(jQuery('[name=cid]').val());
        if (res){            
            jQuery("#search").show();
            jQuery("#digits").hide();
        }
        else{
            jQuery("#search").hide();
            jQuery("#digits").show();
        }
    }   
});
</script>
{% endblock %}

{% block content %}
{% if submitted %}
<h3>Your form has been submitted</h3>
{% else %}
<div class="row">
    Search for your students below by ID or their name.<br>
    You'll be able to see which family members are allowed to see specific information.
    <div class="input-group custom-search-form">
        <div id="digits">Please enter a 5-7 digit Student ID</div>
        <form action="http://dev.carthage.edu/Go/d/m/a8381b19-35dc-4cba-a656-de35815f4a72/RemoteContent/Index" enctype="multipart/form-data" method="post" class="form"/>
        {% csrf_token %}
        <input type="text" name="cid" class="form-control"/>
            <span class="input-group-btn"id="search" >
                <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </form>
    </div>
</div>
<div class="loader"><!-- for loading icon --></div>
{% endif %}
{% endblock content %}
