{% extends "/home/mkauth/sandbox/djreggie/templates/consentfam/home.html" %}
{% block extra_style %}
{{block.super}}
<style>    
    @media (max-width : 1280px)
    {
        .mobile
        {
            display: block;
        }
        .web
        {
            display: none;
        }
        .row {
            margin: 1em;
        }
        .text {
            font-family: 'Open Sans',verdana,arial,sans-serif;
            font-size: 1em;
        }
    }
    @media (min-width: 1281px)
    {
        .mobile
        {
            display: none;
        }
        .web
        {
            display: block;
        }
        .dl-horizontal dt.widus {
            width: 300px;
            margin-right:9px;
        }
        .dl-horizontal dd.yes {
            margin-left: 0;
        }
        .center{text-align:center;}
        .red {color:#800;}
        .green {color:#008000;}
        .loader {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('http://i.imgur.com/VOYFJhg.gif') 
                        50% 50% 
                        no-repeat;
        }
        
        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading {
            overflow: hidden;   
        }
        
        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading .loader {
            display: block;
        }
        .showinfo {
            display: none;
        }
        .col-lg-6 {
            float: left;
        }
    }
</style>
{% endblock %}
{% block extra_javascript %}
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery(".showinfo").hide();
    jQuery(".approveone").change(function(){
        var checked;
        if(jQuery(this).prop('checked'))
        {
            checked = 'Y';
        }
        else
        {
            checked = 'N';
        } 
        $body = jQuery("body");
        jQuery(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }    
        });
        jQuery.ajax({
            type: 'POST',
            url: "{% url 'cf_family_set_approved' %}",
            data: {
                'approved': checked,
                'id': jQuery(this).val()
            },
            cache: false,
            success: function(data){
                alert(data);
            },
            });
    });
    jQuery(".showhide").click(function() {
        jQuery(this).parent().parent().parent().find(".showinfo").toggle()
    });
    var list = new Array();
    {% for stud in full_student_list %}
        list.push({label: '{{stud.lastname}}, {{stud.firstname}} {{stud.student_id}}',
                    value: {{stud.student_id}}})
    {% endfor %}
    jQuery('[name=cid]').autocomplete({source: list});
    jQuery('[name=cid]').autocomplete("enable");
</script>
{% endblock %}
{% block content %}
<div class="mobile">
   <div id="student-container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">
                    {{student.firstname}} {{student.lastname}}
                </h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-4">
                    <div class="panel-heading">
                        <div class="row">
                                {{student.addr_line1}} {{student.addr_line2}}<br>
                                {{student.city}}, {{student.st}}<br>
                                {{student.zip}} {{student.ctry}}<br>
                                <abbr title="Phone">P:</abbr>
                                {{student.phone}}<br>
                                </a>
                        </div> <!-- /.row -->
                    </div> <!--/.panel-heading -->
            </div> <!-- /.col-lg-4 -->
            {% for f in family %}
            <div><div> <!-- we need these and stuff -->
                <h3 class="panel-title text" ><b>
                    <pre>Name: {{f.name}} | Relation: {{f.relation}}
                    <br>Is allowed to see: {{f.allow}}</pre>
                </b></h3>
                <input type="button" class="showhide" value="Show/hide info"/>
                <div class="showinfo">
                    <div class="panel-body">
                        <div class="text">
                            Phone<pre>{{f.phone}}</pre>
                        </div>
                    </div><!-- /.panel-body --> 
                    <div class="panel-body">
                        <div class="text">
                            Email<pre>{{f.email}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div></div>
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.student-container -->
</div><!-- /.mobile -->
<div class="web">
    <div id="student-container" >
        <div class="row">
            <div class="col-lg-8">
                <h1 class="page-header">
                    {{student.firstname}} {{student.lastname}}
                </h1>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-globe fa-5x"></i>
                            </div>
                            <div class="col-xs-8" id="student-contact">
                                <address>
                                {{student.addr_line1}} {{student.addr_line2}}<br>
                                {{student.city}}, {{student.st}}<br>
                                {{student.zip}} {{student.ctry}}<br>
                                <abbr title="Phone">P:</abbr>
                                {{student.phone}}<br>
                                </a>
                                </address>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!--/.panel-heading -->
                </div> <!-- /.panel-success -->
            </div> <!-- /.col-lg-4 -->
            {% for f in family2 %}
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <pre>Name: {{f.name}} | Relation: {{f.relation}} | Is allowed to see: {{f.allow}}</pre>
                        </h3>
                        <input type="button" class="showhide" value="Show/hide info"/>
                    </div><!-- /.panel-heading -->
                    <div class="showinfo">
                        <div style="float:left">
                            <div class="panel-body">
                                <div>
                                    Phone<pre>{{f.phone}}</pre>
                                </div>
                            </div><!-- /.panel-body --> 
                            <div class="panel-body">
                                <div>
                                    Email<pre>{{f.email}}</pre>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                        <div style="float:right">
                            <div class="panel-body">
                                <div>
                                    Date Modified<pre>{{f.datemodified}}</pre>
                                </div>
                            </div><!-- /.panel-body -->
                            <div class="panel-body">
                                <div>
                                    Modifier ID<pre>{{f.modified_id}}</pre>
                                </div>
                            </div><!-- /.panel-body -->
                        </div>
                    </div>
                </div>
                <!-- /.panel-info -->
            </div> <!-- /.col-lg-6 -->
            {% endfor %}
        </div><!-- /.row -->
    </div> <!-- /#student-container -->
</div> <!-- /.web -->
<div class="loader"><!-- for loading icon --></div>
{% endblock content %}
