{% extends "consentfam/home.html" %}
{% block extra_style %}
{{block.super}}
<link href="/static/djsani/css/print.css"
    rel="stylesheet" type="text/css" media="print" />
<style>
.dl-horizontal dt.widus {
    width: 300px;
    margin-right:9px;
}
.dl-horizontal dd.yes {
    margin-left: 0;
}
.center{text-align:center;}
.red {color:#800;}
.green {color:#008000;}
</style>
<script type="text/javascript">
    $(".approved").change(function(){
        var checked;
        if($(this).prop('checked'))
        {
            checked = 'Y';
        }
        else
        {
            checked = 'N';
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'cf_family_set_approved' %}",
            data: {
                'approved': checked,
                'id': $(this).val()
            },
            cache: false,
            success: function(data){
                alert(data);
            },
            });
    });
</script>
{% endblock %}
{% block content %}
<div id="student-container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">
                {{student.firstname}} {{student.lastname}}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-xs-8" id="student-contact">
                            <address>
                            {{student.addr_line1}} {{student.addr_line2}}<br>
                            {{student.city}}, {{student.st}}<br>
                            {{student.zip}} {{student.ctry}}<br>
                            <abbr title="Phone">P:</abbr>
                            {{student.phone}}<br>
                            </a>
                            </address>
                        </div>
                    </div> <!-- /.row -->
                </div> <!--/.panel-heading -->
            </div> <!-- /.panel-success -->
        </div> <!-- /.col-lg-4 -->
        {% for f in family %}
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Family {{forloop.counter}}
                    </h3>
                </div><!-- /.panel-heading -->
                <div style="float:left">
                    <div class="panel-body">
                        <div>
                            Name<pre>{{f.name}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="panel-body">
                        <div>
                            Relation<pre>{{f.relation}}</pre>
                        </div>
                    </div><!-- /.panel-body -->      
                    <div class="panel-body">
                        <div>
                            Phone<pre>{{f.phone}}</pre>
                        </div>
                    </div><!-- /.panel-body --> 
                    <div class="panel-body">
                        <div>
                            Email<pre>{{f.email}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                </div>
                <div style="float:right">
                    <div class="panel-body">
                        <div>
                            Shared Info<pre>{{f.allow}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="panel-body">
                        <div>
                            Date Modified<pre>{{f.datemodified}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="panel-body">
                        <div>
                            Modifier ID<pre>{{f.modified_id}}</pre>
                        </div>
                    </div><!-- /.panel-body -->
                    <div class="panel-body">
                        <div>
                            Approved<pre><input type="checkbox" name="approve" class="approved"
                        id="approve_{{f.ferpafamily_no}}" value="{{f.ferpafamily_no}}" {% if f.approved = 'Y' %}checked{% endif %}/></pre>
                        </div>
                    </div><!-- /.panel-body -->
                </div>
            </div>
            <!-- /.panel-info -->
        </div> <!-- /.col-lg-6 -->
        {% endfor %}
    </div><!-- /.row -->
</div> <!-- /#student-container -->
{% endblock content %}
