{% extends "djkorra/base.html" %}
{% block title %}
    Create Email
{% endblock %}
{% block content_head %}
    <h1 id="page-title">Create an Email</h1>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>    
    $("img.hidden").css("display", "none");
    
    function validate_unique_id(){
        var patt = new RegExp('^(\\d{5,7})$');
        return patt.test($("#id_unique_id").val());
    }
    function validate_requested_by(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
        return patt.test($("#id_requested_by").val());       
    }
    function validate_account_name(){
        var patt = new RegExp('^[A-Za-z0-9\\.\\_\\%\\+\\-]+@[A-Za-z0-9\\.\\-]+\\.[a-zA-Z]{2,4}$');
        return patt.test($("#id_account_name").val());       
    }
    function validate_purpose(){
        var patt = new RegExp('.+');
        return patt.test($("#id_purpose").val());       
    }
    function validate_users(){
        var patt = new RegExp('.+');
        return patt.test($("#id_users").val());       
    }
    function validate_needed_until(){
        if ($('#id_needed_until').val() == "")
        {
            return false;
        }
        var newdate = new Date();
        var value = $('#id_needed_until').val().split("-");
        var inputdate = new Date(value[0],value[1]-1,value[2]);
        if (inputdate.getTime() < newdate.getTime()){
            return false;
            }
        else{
            return true;
        }
    }
    
    $("#id_account_name").change( function() {
        if(!validate_account_name()){ 
            $('#account_name_no').css("display", "inline");
            $('#account_name_yes').css("display", "none");
        }
        else {
            $('#account_name_no').css("display", "none");
            $('#account_name_yes').css("display", "inline");
        }
    });
    $("#id_needed_until").change( function() {               
        if(!validate_needed_until()){ 
            $('#needed_until_no').css("display", "inline");
            $('#needed_until_yes').css("display", "none");
        }
        else {
            $('#needed_until_no').css("display", "none");
            $('#needed_until_yes').css("display", "inline");
        }
    });
    $("#id_purpose").change( function() {               
        if(!validate_purpose()){ 
            $('#purpose_no').css("display", "inline");
            $('#purpose_yes').css("display", "none");
        }
        else {
            $('#purpose_no').css("display", "none");
            $('#purpose_yes').css("display", "inline");
        }
    });
    $("#id_users").change( function() {              
        if(!validate_users()){ 
            $('#users_no').css("display", "inline");
            $('#users_yes').css("display", "none");
        }
        else {
            $('#users_no').css("display", "none");
            $('#users_yes').css("display", "inline");
        }
    });   
</script>
{% endblock %}
{% block content %}
<form action='' method='post' class = "form">{% csrf_token %}
{{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
    <fieldset class="blockLabels">
        <legend>Account Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_account_name">Email address you'd like to request</label></h3>
                <div class='required'>
                    {{form.account_name}}
                    {{form.account_name.errors}}
                    <img class='hidden' id='account_name_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='account_name_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_purpose">Purpose of account:</label></h3>
                <div class='required'>
                    {{form.purpose}}
                    {{form.purpose.errors}}
                    <img class='hidden' id='purpose_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='purpose_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_users">Names of all users with access:</label></h3>
                <div class='required'>
                    {{form.users}}
                    {{form.users.errors}}
                    <img class='hidden' id='users_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='users_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_needed_until">Needed until</label></h3>
                <div class='required'>
                    {{form.needed_until}}
                    {{form.needed_until.errors}}
                    <img class='hidden' id='needed_until_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='needed_until_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>             
        </ol>
    </fieldset>
</form>
<script type='text/javascript'>     
</script>
{% endblock %}
