{% extends "djkorra/base.html" %}
{% block title %}
    Create Email
{% endblock %}
{% block content_head %}
    <h1 id="page-title">Create an Email</h1>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>    
    $("img.hidden").css("display", "none");
    
    function validate_unique_id(){
        var patt = new RegExp('^(\\d{5,7})$');
        return patt.test($("#id_unique_id").val());
    }
    function validate_requested_by(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
        return patt.test($("#id_requested_by").val());       
    }
    function validate_name_of_account_requested(){
        var patt = new RegExp('^[A-Za-z0-9\\.\\_\\%\\+\\-]+@[A-Za-z0-9\\.\\-]+\\.[a-zA-Z]{2,4}$');
        return patt.test($("#id_name_of_account_requested").val());       
    }
    function validate_purpose_of_account(){
        var patt = new RegExp('.+');
        return patt.test($("#id_purpose_of_account").val());       
    }
    function validate_names_of_all_users(){
        var patt = new RegExp('.+');
        return patt.test($("#id_names_of_all_users").val());       
    }
    function validate_needed_until(){
        if ($('#id_needed_until').val() == "")
        {
            return false;
        }
        var newdate = new Date();
        var value = $('#id_needed_until').val().split("-");
        var inputdate = new Date(value[0],value[1]-1,value[2]);
        if (inputdate.getTime() < newdate.getTime()){
            return false;
            }
        else{
            return true;
        }
    }
    
    $("#id_name_of_account_requested").change( function() {
        if(!validate_name_of_account_requested()){ 
            $('#name_of_account_requested_no').css("display", "inline");
            $('#name_of_account_requested_yes').css("display", "none");
        }
        else {
            $('#name_of_account_requested_no').css("display", "none");
            $('#name_of_account_requested_yes').css("display", "inline");
        }
    });
    $("#id_needed_until").change( function() {               
        if(!validate_needed_until()){ 
            $('#needed_until_no').css("display", "inline");
            $('#needed_until_yes').css("display", "none");
        }
        else {
            $('#needed_until_no').css("display", "none");
            $('#needed_until_yes').css("display", "inline");
        }
    });
    $("#id_purpose_of_account").change( function() {               
        if(!validate_purpose_of_account()){ 
            $('#purpose_of_account_no').css("display", "inline");
            $('#purpose_of_account_yes').css("display", "none");
        }
        else {
            $('#purpose_of_account_no').css("display", "none");
            $('#purpose_of_account_yes').css("display", "inline");
        }
    });
    $("#id_names_of_all_users").change( function() {              
        if(!validate_names_of_all_users()){ 
            $('#names_of_all_users_no').css("display", "inline");
            $('#names_of_all_users_yes').css("display", "none");
        }
        else {
            $('#names_of_all_users_no').css("display", "none");
            $('#names_of_all_users_yes').css("display", "inline");
        }
    });   
</script>
{% endblock %}
{% block content %}
<form action='' method='post' class = "form">{% csrf_token %}
{{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
    <fieldset class="blockLabels">
        <legend>Account Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_name_of_account_requested">Email address you'd like to request</label></h3>
                <div class='required'>
                    {{form.name_of_account_requested}}
                    {{form.name_of_account_requested.errors}}
                    <img class='hidden' id='name_of_account_requested_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='name_of_account_requested_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_purpose_of_account">Purpose of account:</label></h3>
                <div class='required'>
                    {{form.purpose_of_account}}
                    {{form.purpose_of_account.errors}}
                    <img class='hidden' id='purpose_of_account_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='purpose_of_account_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_names_of_all_users">Names of all users with access:</label></h3>
                <div class='required'>
                    {{form.names_of_all_users}}
                    {{form.names_of_all_users.errors}}
                    <img class='hidden' id='names_of_all_users_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='names_of_all_users_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_needed_until">Needed until</label></h3>
                <div class='required'>
                    {{form.needed_until}}
                    {{form.needed_until.errors}}
                    <img class='hidden' id='needed_until_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='needed_until_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>             
        </ol>
    </fieldset>
</form>
<script type='text/javascript'>     
</script>
{% endblock %}
