        {% block content %}
<h1>Request and Consent for the Release of Directory Information</h1>
<p>The Family Educational Rights and Privacy Act("FERPA" - 20 U.S.C. § 1232g; 34 CFR Part 99) is a<br>
Federal law that protects the privacy of student education records. The following form is intended to<br>
authorize the disclosure of directory information that is limited and generally found not to be harmful or invasive.<br><br>

Carthage College considers the following types on information as directory information:</p>
<ul>
	<li>Student's name</li>
	<li>Mailing and email address</li>
	<li>Telephone Listing</li>
	<li>Date and place of birth</li>
	<li>Photographs</li>
	<li>Dates of enrollment</li>
	<li>Major field of study</li>
	<li>Enrollment status (e.g., full-time or part-time)</li>
	<li>Classification(e.g., Freshman, Sophomore, Junior, Senior)</li>
	<li>Degrees earned and dates of graduation including anticipated graduation dates</li>
	<li>Awards and honors received</li>
	<li>Participation in officially recognized activities and sports</li>
	<li>Weight and height of members of athletic teams</li>
	<li>The most recent previous educational agency or institution attended</li>
</ul>

<p>At its discretion, the College may provide directory information to the public in accordance with the provisions of FERPA</p>
<form action="" method="post"> {% csrf_token %}

{{form.as_p}}

<input type="submit" name="submit" value="Submit Form">
</form>

{% endblock %}


