{% block content_head %}
    <h1 id="page-title">FERPA Authorization</h1>
{% endblock %}
{% block javascript %}
<script>
    jQuery(document).ready( function() {
        if ("{{form.consent.value}}" == "NOCONSENT"){
               jQuery('#hidden').show();
               }
           else{
               jQuery('#hidden').hide();
               }
        });
    jQuery('[name="consent"]').click( function() {
        if (this.value == "NOCONSENT"){
               jQuery('#hidden').show();
               }
           else{
               jQuery('#hidden').hide();
               }
        });
</script>
{% endblock %}
{% block content %}
{% if submitted %}
<h3>Your form has been submitted</h3>
{% else %}
<form action='' enctype="multipart/form-data" method='post' class = "form">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
        {{ field }}
        {{ field.errors }}
    {% endfor %}
<h2>General Information</h2>
    <div>The Family Educational Rights and Privacy Act ("FERPA" - 20 U.S.C.  1232g; 34 CFR Part 99) is a
        Federal law that protects the privacy of student education records. The following form is intended to
        authorize the disclosure of directory information that is limited and generally found not to be harmful or invasive.
        Carthage College considers the following types of information as directory information:
        <div>                    
            <ul class="bullets">
                    <li>Student's name</li>
                    <li>Mailing and email address</li>
                    <li>Telephone Listing</li>
                    <li>Date and place of birth</li>
                    <li>Photographs</li>
                    <li>Dates of enrollment</li>
                    <li>Major field of study</li>
                    <li>Enrollment status (e.g., full-time or part-time)</li>
                    <li>Classification (e.g., Freshman, Sophomore, Junior, Senior)</li>
                    <li>Degrees earned and dates of graduation including anticipated graduation dates</li>
                    <li>Awards and honors received</li>
                    <li>Participation in officially recognized activities and sports</li>
                    <li>Weight and height of members of athletic teams</li>
                    <li>The most recent previous educational agency or institution attended</li>
            </ul>
        </div>
    </div>
    <div>At its discretion, the College may provide directory
    information to the public in accordance with the provisions of FERPA.
    </div>
    <div><h3><label for="id_consent"></label></h3>
            {{ form.consent }}
            {{ form.consent.errors }}
    </div>
    <div id='hidden' style='display:none;'>
        *I understand the implications of this decision to withold such directory information. Any requests for such information will be refused.
    </div>
    <div class="btnHolder">
        <label for="submit">&nbsp;&nbsp;</label>
        <input type="Submit" name="submit" value="Submit" class="button"/>
    </div>
</form>
{% endif %}
{% endblock %}
