{% extends "djkorra/base.html" %}
{% block title %}
    Dependent Student
{% endblock %}
{% block content_head %}
    <h1 id="page-title">{{ year }}-{{ year2 }} Verification Worksheet for Dependent Students</h1>
{% endblock %}
{% block extra_style %}
<style type='text/css'>
    li.highlightradio input[type=radio]:checked + label {
        display: inline;
        padding: .5%;
        background-color: darkgrey;
    }
    li.highlightradio label.radiostyle {
        display: inline;
        padding: .5%;
        background-color: lightgrey;
    }
    .errorlist, .error {
        color: red;
    }
    .highlight {
        background: yellow;
    }
    td {
        text-align:center;
    }
    #attachedcss, #filediv, #filediv2 {
        padding-left:5em;
    }

    .line{
            width:100%;
    }
    .hidden{
            display:none;
    }
    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }
    input[type=radio]
    {
      -webkit-appearance:radio;
    }
</style>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    $(document).ready(function () {
        // Code adapted from http://djangosnippets.org/snippets/1389/
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
            replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteStud(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.student').remove();
                var forms = $('.student'); // Get all the forms
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                    });
                }
            } // End if
            else {
                alert("If you have no previous employment, please check the other box.");
            }
            return false;
        }

        function addStud(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount < 5) {
                // Clone a form (without event handlers) from the first form
                var row = $(".student:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".student:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass("error");

                // Relabel or rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val("");
                });

                // Add an event handler for the delete item/form link
                $(row).find("#deletestud").click(function () {
                    return deleteStud(this, prefix);
                });
                // Update the total form count
                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } // End if
            else {
                alert("You can only add a maximum of 5 previous employers.");
            }
            return false;
        }
        // Register the click event handlers
        $("#addstud").click(function () {
            return addStud(this, "stud");
        });

        $("#deletestud").click(function () {
            return deleteStud(this, "stud");
        });

        function deletePar(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.parent').remove();
                var forms = $('.parent'); // Get all the forms
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                    });
                }
            } // End if
            else {
                alert("If you have no previous employment, please check the other box.");
            }
            return false;
        }

        function addPar(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount < 5) {
                // Clone a form (without event handlers) from the first form
                var row = $(".parent:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".parent:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass("error");

                // Relabel or rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val("");
                });

                // Add an event handler for the delete item/form link
                $(row).find("#deletepar").click(function () {
                    return deletePar(this, prefix);
                });
                // Update the total form count
                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } // End if
            else {
                alert("You can only add a maximum of 5 previous employers.");
            }
            return false;
        }
        // Register the click event handlers
        $("#addpar").click(function () {
            return addPar(this, "fam");
        });

        $("#deletepar").click(function () {
            return deletePar(this, "fam");
        });

        function deleteCS(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.child').remove();
                var forms = $('.child'); // Get all the forms
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                    });
                }
            } // End if
            else {
                alert("If you have no child support to list, please uncheck the box above.");
            }
            return false;
        }

        function addCS(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount < 5) {
                // Clone a form (without event handlers) from the first form
                var row = $(".child:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".child:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass("error");

                // Relabel or rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val("");
                });

                // Add an event handler for the delete item/form link
                $(row).find("#deletecs").click(function () {
                    return deleteCS(this, prefix);
                });
                // Update the total form count
                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } // End if
            else {
                alert("Sorry, you can only add a maximum of five child support situations.");
            }
            return false;
        }
        // Register the click event handlers
        $("#addcs").click(function () {
            return addCS(this, "fam");
        });

        $("#deletecs").click(function () {
            return deleteCS(this, "fam");
        });

        function deleteFam(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.family').remove();
                var forms = $('.family'); // Get all the forms
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                    });
                }
            } // End if
            else {
                alert("You must enter at least one family member.");
            }
            return false;
        }

        function addFam(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount < 5) {
                // Clone a form (without event handlers) from the first form
                var row = $(".family:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".family:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass("error");

                // Relabel or rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val("");
                });

                // Add an event handler for the delete item/form link
                $(row).find("#deletefam").click(function () {
                    return deleteFam(this, prefix);
                });
                // Update the total form count
                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } // End if
            else {
                alert("Sorry, you can only request a maximum of five family members.");
            }
            return false;
        }
        // Register the click event handlers
        $("#addfam").click(function () {
            return addFam(this, "fam");
        });

        $("#deletefam").click(function () {
            return deleteFam(this, "fam");
        });
        function validate_fname(){
            var patt = new RegExp('^([a-zA-Z]+)$');
            return patt.test($("#id_fname").val());
        }
        function validate_mname(){
            var patt = new RegExp('^([a-zA-Z]+)$');
            return patt.test($("#id_mname").val());
        }
        function validate_lname(){
            var patt = new RegExp('^([a-zA-Z]+)$');
            return patt.test($("#id_lname").val());
        }
        function validate_ssn(){
            var patt = new RegExp('^(\\d{3}[\\-|\\.\\s]?\d{2}[\\-|\\.\\s]??\\d{4})$');
            return patt.test($("#id_ssn").val());
        }
        function validate_address(){
            var patt = new RegExp('^(?:[\\w]+\\s?)+[\\w]+)$');
            return patt.test($("#id_address").val());
        }
        function validate_dob(){
            if ($('#id_dob').val() == "")
            {
                return false;
            }
            var newdate = new Date();
            newdate.setFullYear(newdate.getFullYear()-10)
            var value = $('#id_dob').val().split("-");
            var inputdate = new Date(value[0],value[1]-1,value[2]);
            if (inputdate.getTime() > newdate.getTime()){
                return false;
                }
            else{
                return true;
            }
        }
        function validate_city(){
            var patt = new RegExp('^((?:[a-zA-Z]+\s?)+[a-zA-Z]+)$');
            return patt.test($("#id_city").val());
        }
        function validate_state(){
            var patt = new RegExp('^((?:[a-zA-Z]+\s?)+[a-zA-Z]+)$');
            return patt.test($("#id_state").val());
        }
        function validate_zip(){
            var patt = new RegExp('^([\\d]{5}|\\d{5}-?\\d{4})$');
            return patt.test($("#id_zip").val());
        }
        function validate_hphone(){
            var patt = new RegExp('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
            return patt.test($("#id_hphone").val());
        }
        function validate_cphone(){
            var patt = new RegExp('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
            return patt.test($("#id_cphone").val());
        }
        
        $("#1").click(function () {
            $("#1").css('backgroundColor', 'darkgreen')
            $("#2,#3,#4,#5,#6,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f2, #f3, #f4, #f5, #f6, #f7, #f8").css('display', 'none');
            $('#f1')[0].style.display = 'list-item';
        });
        $("#2, #next1").click(function () {
            $("#2").css('backgroundColor', 'darkgreen')
            $("#1,#3,#4,#5,#6,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f1, #f3, #f4, #f5, #f6, #f7, #f8").css('display', 'none');
            $('#f2')[0].style.display = 'list-item';
        });
        $("#3, #next2").click(function () {
            $("#3, #11").css('backgroundColor', 'darkgreen')
            $("#1,#2,#4,#5,#6,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f1, #f2, #f4, #f5, #f6, #f7, #f8").css('display', 'none');
            $('#f3')[0].style.display = 'list-item';
        });
        $("#4, #next3").click(function () {
            $("#4").css('backgroundColor', 'darkgreen')
            $("#1,#2,#3,#5,#6,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f1, #f2, #f3, #f5, #f6, #f7, #f8").css('display', 'none');
            $('#f4')[0].style.display = 'list-item';
        });
        $("#5, #next4").click(function () {
            $("#5").css('backgroundColor', 'darkgreen')
            $("#1,#2,#3,#4,#6,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f1, #f2, #f3, #f4, #f6, #f7, #f8").css('display', 'none');
            $('#f5')[0].style.display = 'list-item';
        });
        $("#6, #next5").click(function () {
            $("#6").css('backgroundColor', 'darkgreen')
            $("#1,#2,#3,#4,#5,#7,#8").css('backgroundColor', '#1ABC9C');           
            $("#f1, #f2, #f3, #f4, #f5, #f7, #f8").css('display', 'none');
            $('#f6')[0].style.display = 'list-item';
        });
        $("#7, #next6").click(function () {
            $("#7").css('backgroundColor', 'darkgreen')
            $("#1,#2,#3,#4,#5,#6,#8").css('backgroundColor', '#1ABC9C');            
            $("#f1, #f2, #f3, #f4, #f5, #f6, #f8").css('display', 'none');
            $('#f7')[0].style.display = 'list-item';
        });
        $("#8, #next7").click(function () {
            $("#8").css('backgroundColor', 'darkgreen')
            $("#1,#2,#3,#4,#5,#6,#7").css('backgroundColor', '#1ABC9C');            
            $("#f1, #f2, #f3, #f4, #f5, #f6, #f7").css('display', 'none');
            $('#f8')[0].style.display = 'list-item';
        });
        
        $("#id_fname").blur( function(){
            if (!validate_fname())
            {
                $('#fname_no').css("display", "inline");
                $('#fname_yes').css("display", "none");
            }
            else
            {
                $('#fname_no').css("display", "none");
                $('#fname_yes').css("display", "inline");
            }
        });
        $("#id_mname").blur( function(){
            if (!validate_mname())
            {
                $('#mname_no').css("display", "inline");
                $('#mname_yes').css("display", "none");
            }
            else
            {
                $('#mname_no').css("display", "none");
                $('#mname_yes').css("display", "inline");
            }
        });
        $("#id_lname").blur( function(){
            if (!validate_lname())
            {
                $('#lname_no').css("display", "inline");
                $('#lname_yes').css("display", "none");
            }
            else
            {
                $('#lname_no').css("display", "none");
                $('#lname_yes').css("display", "inline");
            }
        });
        $("#ssn").blur( function(){
            if (!validate_ssn())
            {
                $('#ssn_no').css("display", "inline");
                $('#ssn_yes').css("display", "none");
            }
            else
            {
                $('#ssn_no').css("display", "none");
                $('#ssn_yes').css("display", "inline");
            }
        });
        $("#id_dob").blur( function(){
            if (!validate_dob())
            {
                $('#dob_no').css("display", "inline");
                $('#dob_yes').css("display", "none");
            }
            else
            {
                $('#dob_no').css("display", "none");
                $('#dob_yes').css("display", "inline");
            }
        });
        $("#id_address").blur( function(){
            if (!validate_address())
            {
                $('#address_no').css("display", "inline");
                $('#address_yes').css("display", "none");
            }
            else
            {
                $('#address_no').css("display", "none");
                $('#address_yes').css("display", "inline");
            }
        });
        $("#id_city").blur( function(){
            if (!validate_city())
            {
                $('#city_no').css("display", "inline");
                $('#city_yes').css("display", "none");
            }
            else
            {
                $('#city_no').css("display", "none");
                $('#city_yes').css("display", "inline");
            }
        });
        $("#id_zip").blur( function(){
            if (!validate_zip())
            {
                $('#zip_no').css("display", "inline");
                $('#zip_yes').css("display", "none");
            }
            else
            {
                $('#zip_no').css("display", "none");
                $('#zip_yes').css("display", "inline");
            }
        });
        $("#id_hphone").blur( function(){
            if (!validate_hphone())
            {
                $('#hphone_no').css("display", "inline");
                $('#hphone_yes').css("display", "none");
            }
            else
            {
                $('#hphone_no').css("display", "none");
                $('#hphone_yes').css("display", "inline");
            }
        });
        $("#id_cphone").blur( function(){
            if (!validate_cphone())
            {
                $('#cphone_no').css("display", "inline");
                $('#cphone_yes').css("display", "none");
            }
            else
            {
                $('#cphone_no').css("display", "none");
                $('#cphone_yes').css("display", "inline");
            }
        });
        
        $('[name="attached"]').click( function() {
                   if (this.value == "IS"){
                        $('#fileli').css("display", "list-item");
                       }
                   else{
                        $('#fileli').css("display", "none");
                       }
                });
            if( $('[name="attached"]').val() == 'IS') {
                $('#fileli').css("display", "list-item");
            }
            else {
                $('#fileli').css("display", "none");
            }
        $('[name="attached2"]').click( function() {
                   if (this.value == "IS"){
                        $('#fileli2').css("display", "list-item");
                       }
                   else{
                        $('#fileli2').css("display", "none");
                       }
                });
            if( $('[name="attached2"]').val() == 'IS') {
                $('#fileli2').css("display", "list-item");
            }
            else {
                $('#fileli2').css("display", "none");
            }
            
        $('[name="employed"]').click( function() {
                   if (this.value == "WAS"){
                        $('#studentli').css("display", "list-item");
                       }
                   else{
                        $('#studentli').css("display", "none");
                       }
                });
            if( $('[name="employed"]').val() == 'WAS' ){
                $('#studentli').css("display", "list-item");
            }
            else {
                $('#studentli').css("display", "none");
            }
        $('[name="employed2"]').click( function() {
               if (this.value == "WAS"){
                    $('#parentli').css("display", "list-item");
                   }
               else{
                    $('#parentli').css("display", "none");
                   }
            });
        if( $('[name="employed2"]').val() == 'WAS' ){
            $('#parentli').css("display", "list-item");
        }
        else {
            $('#parentli').css("display", "none");
        }
        $("#id_childsupport").click( function() {
               if ($('#csli').css('display') == 'none'){               
                    $('#csli').css("display", "list-item");
                   }
               else{               
                    $('#csli').css("display", "none");
                   }
            });
        if( $('#csli').css('display') == 'none'){
            $('#csli').css("display", "list-item");
        }
        else {
            $('#csli').css("display", "none");
        }
    });
</script>
{% endblock %}
{% block content %}
{{formsetfam.management_form}}
{{formsetstud.management_form}}
{{formsetpar.management_form}}
{{formsetcs.management_form}}
<form action="" method="post" class = "form" enctype="multipart/form-data"> {% csrf_token %}
    <ol><li class="btnHolder"><input type="button" id="1" name="about" style="background-color:darkgreen;" value="About" class="button"/>
            <input type="button" id="2" name="sinfo" value="Student Info" class="button"/>
            <input type="button" id="3" name="faminfo" value="Family Info" class="button"/>
            <input type="button" id="4" name="sincome" value="Student Income" class="button"/>
            <input type="button" id="5" name="pincome" value="Parent Income" class="button"/>            
            <input type="button" id="6" name="snap" value="SNAP" class="button"/>
            <input type="button" id="7" name="child" value="Child Support" class="button"/>
            <input type="button" id="8" name="legal" value="Legal and Submit" class="button"/>
        </li>
    </ol>
    <fieldset id="f1" class="blockLabels">
        <legend>About this form</legend>
        <ol>
            <li>Your {{ year }}-{{ year2 }} Free Application for Federal Student Aid (FAFSA) was
            selected for review in a process called verification. The law says
            that before awarding Federal Student Aid, we may ask you to confirm the information
            you and your parents reported on your FAFSA. To verify that you provided correct
            information the financial aid administrator at your school will compare your FAFSA
            with the information on this worksheet and with any other required documents.
            If there are differences, your FAFSA information may need to be corrected. You and at
            least one parent must complete and sign this worksheet, attach any required documents,
            and submit the form and other required documents to the financial aid administrator
            at your school. Your school may ask for additional information. If you have questions about
            verification, contact your financial aid administrator as soon as possible so that your
            financial aid will not be delayed.
            </li>
        </ol>
        <input type="button" id="next1" name="next1" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f2" class="blockLabels" style='display:none;'>
        <legend>Dependent Student's Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_fname">First Name</label></h3>
                <div class='required'>
                    <input type='text' name='fname' id='id_fname' maxlength=100/>
                    <img class='hidden' id='fname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='fname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_mname">Middle Name</label></h3>
                <div class='required'>
                    <input type='text' name='mname' id='id_mname' maxlength=100/>
                    <img class='hidden' id='mname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='mname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_lname">Last Name</label></h3>
                <div class='required'>
                    <input type='text' name='lname' id='id_lname' maxlength=100/>
                    <img class='hidden' id='lname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='lname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_ssn">Social Security Number</label></h3>
                <div class='required'>
                    <input type='text' name='ssn' id='id_ssn' maxlength=100/>
                    <img class='hidden' id='ssn_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='ssn_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_dob">Date of Birth</label></h3>
                <div class='required'>
                    <input type='date' name='date' id='id_dob'/>
                    <img class='hidden' id='dob_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='dob_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_address">Street Address</label></h3>
                <div class='required'>
                    <input type='text' name='address' id='id_address' maxlength=150/>
                    <img class='hidden' id='address_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='address_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_city">City</label></h3>
                <div class='required'>
                    <input type='text' name='city' id='id_city' maxlength=100/>
                    <img class='hidden' id='city_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='city_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_state">State</label></h3>
                <div class='required'>
                    <input type='text' name='state' id='id_state' maxlength=100/>
                    <img class='hidden' id='state_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='state_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_zip">Zip Code</label></h3>
                <div class='required'>
                    <input type='text' name='zip' id='id_zip' maxlength=15/>
                    <img class='hidden' id='zip_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='zip_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_email">Email</label></h3>
                <div class='required'>
                    <input type='text' name='email' id='id_email' maxlength=100/>
                    <img class='hidden' id='email_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='email_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_hphone">Primary Phone</label></h3>
                <div class='required'>
                    <input type='text' name='hphone' id='id_hphone' maxlength=20/>
                    <img class='hidden' id='hphone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='hphone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_phonetype">Primary Phone Type</label></h3>
                <div class='required'>
                    <input type='text' name='phonetype' id='id_phonetype' maxlength=20/>
                    <img class='hidden' id='phonetype_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='phonetype_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_cphone">Alternate Phone</label></h3>
                <div class='required'>
                    <input type='text' name='cphone' id='id_cphone' maxlength=20/>
                    <img class='hidden' id='cphone_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='cphone_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_phonetype2">Alternate Phone Type</label></h3>
                <div class='required'>
                    <input type='text' name='phonetype2' id='id_phonetype2' maxlength=20/>
                    <img class='hidden' id='phonetype2_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='phonetype2_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
        <input type="button" id="next2" name="next2" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f3" class="blockLabels" style='display:none;'>
        <legend>Dependent Student's Family Information</legend>
        <ol>
            <li>List below the people in your parent(s)' household. Include:
                <ul class="bullets">
                    <li>Yourself and your parent(s) (including a stepparent) even if you don't live with your parent(s).</li>
                    <li>Your parent(s)' other children if your parent(s) will provide more than half of their support from July 1, {{ year }}, through
                    June 30, {{ year2 }}, or if the other children would be required to provide parental information if they were completing a FAFSA
                    for {{ year }}-{{ year2 }}. Include children who meet either of these standards, even if they do not live with your parent(s).</li>
                    <li>Other people if they now live with your parent(s) and your parent(s) provide more than half of their support and will
                    continue to provide more than half of their support through June 30, {{ year2 }}.</li>
                </ul>
                Include the name of the college for any household member, excluding your parent(s), who will be enrolled, at least half time in
                a degree, diploma, or certificate program at a postsecondary educational institution any time between July 1, {{ year }}, and June
                30, {{ year2 }}.
            </li>
            {{ formsetfam.management_form }}
            {% for form in formsetfam.forms %}
                <div class = family>
                    <li class="ctrlHolder"><h3>{{form}}</h3></li>
                    <p style=""><a class="delete" id="deletefam" href="#">Delete</a></p>
                    <hr>
                </div>
            <p><a id="addfam" href="#">Add more family</a></p>
            {% endfor %}
        </ol>
        <input type="button" id="next3" name="next3" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f4" class="blockLabels" style='display:none;'>
        <legend>Dependent Student's Income Information to Be Verified</legend>
        <ol>
            <li>1. TAX RETURN FILERS-<b>Important Note</b>: If the student filed, or will file, an amended {{ year0 }} IRS tax return, the student must
                contact the financial aid administrator before completing this section.<br><br>
                <b>Instructions:</b> Complete this section if the student, filed or will file a {{ year0 }} income tax return with the IRS. The best way to
                verify income is by using the IRS Data Retrieval Tool that is part of FAFSA on the Web. If the student has not already used the
                tool, go to FAFSA.gov, log in to the student's FAFSA record, select "Make FAFSA Corrections," and navigate to the
                Financial Information section of the form. From there, follow the instructions to determine if the student is eligible to use the
                IRS Data Retrieval Tool to transfer {{ year0 }} IRS income tax information into the student's FAFSA. It takes up to two weeks for
                IRS income information to be available for the IRS Data Retrieval Tool for electronic IRS tax return filers, and up to eight
                weeks for paper IRS tax return filers. If you need more information about when, or how to use the IRS Data Retrieval Tool see
                your financial aid administrator.<br><br>
                <b>For the first set of radio buttons, please choose whether:</b>
            </li>
            <li class="ctrlHolder"><h3><label for="id_useddata_0"></label></h3>
                <ul>
                    <li class="highlightradio"><input id="id_useddata_0" name="useddata" class="radioHolder" type="radio" value="HAS" />
                        <label for="id_useddata_0" class="radiostyle">The student has used the IRS Data Retrieval Tool in
                        FAFSA on the Web to retrieve and transfer {{ year0 }} IRS income information into the student's FAFSA,
                        either on the initial FAFSA or when making a correction to the FAFSA.
                        (The student's school will use the IRS information that was transferred in the verification process).</label></li><br>
                    <li class="highlightradio"><input id="id_useddata_1" name="useddata" type="radio" value="HASN" />
                        <label for="id_useddata_1" class="radiostyle">
                        The student has not yet used the IRS Data Retrieval Tool in FAFSA on the Web,
                        but will use the tool to retrieve and transfer {{ year0 }} IRS income information into the student's FAFSA
                        once the student has filed a 2012 IRS tax return. See instructions above for information on
                        how to use the IRS Data Retrieval Tool.(The student's school cannot complete the verification process until
                        the IRS information has been transferred into the FAFSA).</label></li><br>
                    <li class="highlightradio"><input id="id_useddata_2" name="useddata" type="radio" value="WONT" />
                        <label for="id_useddata_2" class="radiostyle">The student is unable or chooses not to use
                        the IRS Data Retrieval Tool in FAFSA on the Web, and the student will submit to the school a
                        {{ year0 }} IRS tax return transcript-not a photocopy of the income tax return.
                        To obtain an IRS tax return transcript, go to www.IRS.gov and click on the "Order a Return or Account Transcript"
                        link, or call 1-800-908-9946. Make sure to request the "IRS tax return transcript" and not the
                        "IRS tax account transcript." You will need your Social Security Number, date of birth, and the address on file
                        with the IRS (normally this will be the address used when the {{ year0 }} IRS tax return was filed).
                        It takes up to two weeks for IRS income information to be available for electronic IRS tax return filers,
                        and up to eight weeks for paper IRS tax return filers.</label>
                    </li>
               </ul>
            </li>
            <li class="ctrlHolder"><h3><label for="id_attached_0"></label></h3>
                <ul>
                    <li><label for="id_attached_0"><input id="id_attached_0" name="attached" type="radio" value="IS" />
                    Check here if the student's IRS tax return transcript is attached to this worksheet.</label></li>
                    <li><label for="id_attached_1"><input id="id_attached_1" name="attached" type="radio" value="ISNT" />
                    Check here if the student's IRS tax return transcript will be submitted to the student's school later.
                    Verification cannot be completed until the IRS tax return transcript has been submitted to the student's school
                    </label></li>
                </ul>
            </li>
            <li id='fileli' class="ctrlHolder"><h3><label for="id_file">Upload your IRS tax return transcript</label></h3>
            <div class='required'><input type='file' name='file' id='id_file' maxlength=20/></div>
            </li>
            <li>
                2. TAX RETURN NONFILERS-complete this section if the student will not file and is not required to file a {{ year0 }} income tax
                return with the IRS.<br><br>
                <b>Check the box that applies:</b>
            </li>
            <li class="ctrlHolder"><h3><label for="id_employed_0"></label></h3>
                <ul>
                    <li><label for="id_employed_0"><input id="id_employed_0" name="employed" type="radio" value="WASNT" />
                    The student was not employed and had no income earned from work in {{ year0 }}</label></li>
                    <li><label for="id_employed_1"><input id="id_employed_1" name="employed" type="radio" value="WAS" />
                    The student was employed in {{ year0 }} and has listed below the names of all the student's employers,
                    the amount earned from each employer in {{ year0 }}, and whether an IRS W-2 form is attached.
                    Attach copies of all {{ year0 }} IRS W-2 forms issued to the student by employers.
                    List every employer even if they did not issue an IRS W-2 form.
                    </label></li>
                </ul>
            </li>
            <div id='studentli'>
                {{ formsetstud.management_form }}
                {% for form in formsetstud.forms %}
                    <div class = student>
                        <li class="ctrlHolder"><h3>{{form}}</h3></li>
                        <p style=""><a class="delete" id="deletestud" href="#">Delete</a></p>
                        <hr>
                    </div>
                <p><a id="addstud" href="#">Add more employers</a></p>
                {% endfor %}
            </div>
        </ol>
        <input type="button" id="next4" name="next4" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f5" class="blockLabels" style='display:none;'>
        <legend>Parent's Income Information to Be Verified</legend>
        <ol>
            <li>NOTE:If two parents were reported in Section B of this worksheet, the
                instructions and certifications below refer and apply to both parents.<br><br>
                1. TAX RETURN FILERS-Important Note: If the student's parent(s), filed or will file, an amended {{ year0 }} IRS tax return the
                student's financial aid administrator must be contacted before completing this section.<br><br>
                <b>Instructions:</b> Complete this section if the student's parent(s) filed or will file a {{ year0 }} income tax return with the IRS. The best
                way to verify income is by using the IRS Data Retrieval Tool that is part of FAFSA on the Web. If the student's parent(s) has
                not already used the tool, the parent and the student should go to FAFSA.gov, log in to the student's FAFSA record, select
                "Make FAFSA Corrections," and navigate to the Financial Information section of the form. From there, follow the instructions
                to determine if the parent(s) is eligible to use the IRS Data Retrieval Tool to transfer {{ year0 }} IRS income tax information into the
                student's FAFSA. It takes up to two weeks for IRS income information to be available for the IRS Data Retrieval Tool for
                electronic IRS tax return filers, and up to eight weeks for paper IRS tax return filers. If you need more information about
                whether or how to use the IRS Data Retrieval Tool see the student's financial aid administrator.
                Check the box that applies:
            </li>
            <li class="ctrlHolder"><h3><label for="id_useddata2_0"></label></h3>
                <ul>
                    <li class="highlightradio"><input id="id_useddata2_0" name="useddata2" type="radio" value="HAS" />
                    <label for="id_useddata2_0" class="radiostyle">
                    The student's parent has used the IRS Data Retrieval Tool in FAFSA on the Web to retrieve and transfer
                    {{ year0 }} IRS income information into the student's FAFSA, either on the initial FAFSA or when making
                    a correction to the FAFSA.(The student's school will use the IRS information that was transferred
                    in the verification process).</label></li><br>
                    <li class="highlightradio"><input id="id_useddata2_1" name="useddata2" type="radio" value="HASN" />
                    <label for="id_useddata2_1" class="radiostyle">
                    The student's parent has not yet used the IRS Data Retrieval Tool in FAFSA on the Web, but will use
                    the tool to retrieve and transfer {{ year0 }} IRS income information into the student's FAFSA once the student
                    has filed a {{ year0 }} IRS tax return. See instructions above for information on how to use the IRS Data Retrieval Tool.
                    (The student's school cannot complete the verification process until the IRS information has been
                    transferred into the FAFSA).</label></li><br>
                    <li class="highlightradio"><input id="id_useddata2_2" name="useddata2" type="radio" value="WONT" />
                    <label for="id_useddata2_2" class="radiostyle">
                    The parent is unable or chooses not to use the IRS Data Retrieval Tool in FAFSA on the Web, and
                    the parent will submit to the student's school a 2012 IRS tax return transcript-not a photocopy
                    of the income tax return. To obtain an IRS tax return transcript, go to www.IRS.gov and click on the
                    "Order a Return or Account Transcript" link, or call 1-800-908-9946. Make sure to request the
                    "IRS tax return transcript" and not the "IRS tax account transcript." You will need your
                    Social Security Number, date of birth, and the address on file with the IRS
                    (normally this will be the address used when the 2012 IRS tax return was filed).
                    It takes up to two weeks for IRS income information to be available for electronic
                    IRS tax return filers, and up to eight weeks for paper IRS tax return filers.</label>
                    </li>
               </ul>
            <li class="ctrlHolder"><h3><label for="id_attached2_0"></label></h3>
                <ul>
                    <li><label for="id_attached2_0"><input id="id_attached2_0" name="attached2" type="radio" value="IS" />
                    Check here if an IRS tax return transcript(s) is attached to this worksheet.</label></li>
                    <li><label for="id_attached2_1"><input id="id_attached2_1" name="attached2" type="radio" value="ISNT" />
                    Check here if IRS tax return transcript(s) will be submitted to the student's school later.
                    Verification cannot be completed until the IRS tax return transcript(s) has been submitted to the school.
                    </label></li>
                </ul>
            </li>
                <li id='fileli2' class="ctrlHolder"><h3><label for="id_file2">Upload your IRS tax return transcript</label></h3>
                <div class='required'><input type='file' name='file2' id='id_file2' maxlength=20/></div>
                </li>
            <li>
                2. TAX RETURN NONFILERS-complete this section if the student will not file and is not required to file a {{ year0 }} income tax
                return with the IRS.<br><br><b>Check the box that applies:</b>
            </li>
            <li class="ctrlHolder"><h3><label for="id_employed2_0"></label></h3>
                <ul>
                    <li><label for="id_employed2_0"><input id="id_employed2_0" name="employed2" type="radio" value="WASNT" />
                    Was not employed in {{ year0 }}</label></li>
                    <li><label for="id_employed2_1"><input id="id_employed2_1" name="employed2" type="radio" value="WAS" />
                    Was employed in {{ year0 }}
                    </label></li>
                </ul>
            </li>
            <div id='parentli'>
                {{ formsetpar.management_form }}
                {% for form in formsetpar.forms %}
                    <div class = parent>
                        <li class="ctrlHolder"><h3>{{form}}</h3></li>
                        <p style=""><a class="delete" id="deletepar" href="#">Delete</a></p>
                        <hr>
                    </div>
                <p><a id="addpar" href="#">Add more employers</a></p>
                {% endfor %}
            </div>
        </ol>
        <input type="button" id="next5" name="next5" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f6" class="blockLabels" style='display:none;'>
        <legend>SNAP Benefits</legend>
        <ol>
            <li>Check the box below if someone in the student's parent's household (listed in Section B) received benefits from the
                Supplemental Nutrition Assistance Program or SNAP (formerly known as food stamps) any time during the
                {{ year00 }} or {{ year0 }} calendar years. If asked by the student's school, I will provide documentation of
                the receipt of SNAP benefits during {{ year00 }} and/or {{ year0 }}.<br>
            </li>
            <li class="ctrlHolder"><h3>
                <div class='required'><input type='checkbox' name='snapbenefits' id='id_snapbenefits'/></div></h3>
            </li>
        </ol>
        <input type="button" id="next6" name="next6" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f7" class="blockLabels" style='display:none;'>
        <legend>Child Support</legend>
        <ol>
            <li>Check the box below if One (or both) of the student's parents listed in Section B of this worksheet
                paid child support in {{ year0 }}. The parent has indicated below the name of the person who paid the child support,
                the name of the person to whom the child support was paid, the names of the children for whom child support was paid,
                and the total annual amount of child support that was paid in {{ year0 }} for each child.
                If asked by the school, I will provide documentation of the payment of child support.<br>
            </li>
            <li class="ctrlHolder"><h3>
                <div class='required'><input type='checkbox' name='childsupport' id='id_childsupport' /></div></h3>
            </li>
            <div id='csli'>
                {{ formsetcs.management_form }}
                {% for form in formsetcs.forms %}
                    <div class = child>
                        <li class="ctrlHolder"><h3>{{form}}</h3></li>
                        <p style=""><a class="delete" id="deletecs" href="#">Delete</a></p>
                        <hr>
                    </div>
                <p><a id="addcs" href="#">Add more child support</a></p>
                {% endfor %}
            </div>
        </ol>
        <input type="button" id="next7" name="next7" value="Next" class="button"/>
    </fieldset>
    <fieldset id="f8" class="blockLabels" style='display:none;'>
        <legend>Warning and Submit</legend>
        <ol>
            <li><b>If you purposely give false or misleading
                information on this form, you may be fined, be
                sentenced to jail, or both.</b><br>
                I confirm on behalf of student and parent that this form
                contains correct information filled out to the best of our ability and knowledge.
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>
        </ol>
    </fieldset>
</form>
{% endblock %}