{% extends "djkorra/base.html" %}
{% block title %}
    Undergrad Candidacy
{% endblock %}
{% block content_head %}
    <h1 id="page-title">Undergraduate Candidacy</h1>
{% endblock %}
{% block extra_style %}
<style>
    .readonly {
        color: grey;
        padding-left:2em;
    }
    fieldset.inlineLabels, li {
        list-style:none;
    }
    .hidden {
        display: inline;
    }
    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }
    input[type=radio]
    {
      -webkit-appearance:radio;
    }
    .loader {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://i.imgur.com/VOYFJhg.gif') 
                    50% 50% 
                    no-repeat;
    }
    
    /* When the body has the loading class, we turn
       the scrollbar off with overflow:hidden */
    body.loading {
        overflow: hidden;   
    }
    
    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .loader {
        display: block;
    }
</style>
{% endblock %}
{% block javascript %}
<script>
    $(".hideme").hide();
    $(".phonec").hide();
    $(".emailc").hide();
    $("img.hidden").hide();
    function create_validator(regex) {
        return function (field) {
            var patt = new RegExp(regex);
            return patt.test(field.val());
        }
    }
    $(document).ready(function(){
        if($("[name = will_teach]:checked").val() == "Y")
            {
                $(".hideme").show();
            }
            else
            {
                $(".hideme").hide();
            }
    });
    $("[name = will_teach]").change(function () {
        if($("[name = will_teach]:checked").val() == "Y")
        {
            $(".hideme").show();
        }
        else
        {
            $(".hideme").hide();
        }
    })
    
    var validate_id = create_validator('^(\\d{5,7})$');
    var validate_name = create_validator('^([a-zA-Z]+)$');
    var validate_mname = create_validator('^([a-zA-Z]+|[a-zA-Z]\\.?)$');
    var validate_email = create_validator('^(?:[A-Za-z0-9\\.\\_\\%\\+\\-]+)@(?:[A-Za-z0-9\\.\\-]+)\\.(?:[A-Za-z]{2,4})$');
    var validate_phone = create_validator('^((?:1?[\\s\\-\\.\\/]?\\(?(?:\\d{3})\\)?)?[\\s\\-\\.\\/]?\\d{3}[\\s\\-\\.\\/]?\\d{4}(?:\\s?(?:x|ext|\\.)?\\s?\\d{4})?)$');
    var validate_address = create_validator('^((?:[\\w+\\s\\.\\#\\,])+[\\w\\.]+)$');
    var validate_city = create_validator('^((?:[a-zA-Z\\s?\\.?]+)[a-zA-Z]+)$');
    var validate_state = create_validator('^((?:[a-zA-Z]+\\s?)+[a-zA-Z]+)$');
    var validate_zip = create_validator('^([\\d]{5}|\\d{5}-?\\d{4})$');
    
    var validators = {"id_student_id": validate_id,
                        "id_fname": validate_name,
                        "id_mname": validate_mname,
                        "id_lname": validate_name,
                        "id_best_phone": validate_phone,
                        "id_cell": validate_phone,
                        "id_email": validate_email,
                        "id_address": validate_address,
                        "id_city": validate_city,
                        "id_state": validate_state,
                        "id_zipcode": validate_zip}               
    
    $($.map($('[id$="yes"]'), function (thing) {return '#id_' + thing.id.replace('_yes','');}).join()).change(function() {
        if(!validators[$(this).attr('id')]($(this)))
        {
            $('#' + $(this).attr('id').replace('id_','') + '_no').show();
            $('#' + $(this).attr('id').replace('id_','') + '_yes').hide();
        }
        else
        {
            $('#' + $(this).attr('id').replace('id_','') + '_no').hide();
            $('#' + $(this).attr('id').replace('id_','') + '_yes').show();
        }
    });
    $("#id_best_contact").change(function () {
        $body = $("body");
        $(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }    
        });
        if ($("#id_best_contact").val() == "PHN")
        {
            $(".phonec").show();
            $(".emailc").hide();
            validators['id_best_contact_value'] = validate_phone;
        }
        else if ($("#id_best_contact").val() == "EML")
        {
            $(".phonec").hide();
            $(".emailc").show();
            validators['id_best_contact_value'] = validate_email;
        }
        else
        {
            $(".phonec").hide();
            $(".emailc").hide();
            delete(validators['id_best_contact_value']);
        }
        $.ajax({url: "{% url 'contact' %}",
            data: {'id': $('#id_student_id').val(), 'aa': $('#id_best_contact :selected').val()},
            success: function(data){
                if(data != "")
                {
                    var data_dict = {};
                    var splitdict = data.split(",");
                    for (thing in splitdict)
                    {
                        var pair = splitdict[thing].split(":");
                        data_dict[pair[0]] = ""+pair[1];
                    }
                    if ($("#id_best_contact :selected").val() == "EML2")
                    {
                        $("#id_best_contact_value").val(data_dict['line1']);
                    }
                    else if ($("#id_best_contact :selected").val() == "PGDN")
                    {
                        $("#id_best_contact_value").val(data_dict['line2'] + data_dict['line3'] + data_dict['city'] + ',' + data_dict['st'] + data_dict['zip']);
                        if ($("#id_best_contact_value").val() == ",")
                        {
                            $("#id_best_contact_value").val("");
                        }
                    }
                    else if ($("#id_best_contact :selected").val() != "")
                    {
                        $("#id_best_contact_value").val(data_dict['line1'] + data_dict['line2'] + data_dict['city'] + ',' + data_dict['st'] + data_dict['zip']);
                        if ($("#id_best_contact_value").val() == ",")
                        {
                            $("#id_best_contact_value").val("");
                        }
                    }
                }
                else
                {
                    $("#id_best_contact_value").val("")
                }
            }
        });
        });
    //{% if valid_class = 'N' %}
        alert('You are not a junior or senior');
    //{% endif %}
    
    $("[name*=major],[name*=minor]").change(function(){
        if ($(this).val() != ''){
            for (var i=0; i<$("[name*=major],[name*=minor]").length; i++){
                if ($("[name*=major],[name*=minor]")[i].id != $(this).attr("id")){
                    if ($(this).find(":selected").prop("text") == $("[name*=major] :selected,[name*=minor] :selected")[i].text){
                        $(this).val('');
                        alert("You have already selected that as a major or minor. You cannot select it again.");
                        break;
                    }
                }
            }
        }
    });
    $('.form').submit(function(){
        //if majors aren't ordered right ie. major2 have a value and major1 doesn't, then reoreder the data
        if ($("#id_major1").val() == '')
        {
            if ($("#id_major2").val() != '')
            {
                $("#id_major1").val($("#id_major2").val());
                $("#id_major2").val("");
            }
            else if ($("#id_major3").val() != '')
            {
                $("#id_major1").val($("#id_major3").val());
                $("#id_major3").val("");
            }
        }
        if ($("#id_major2").val() == '')
        {
            if ($("#id_major3").val() != '')
            {
                $("#id_major2").val($("#id_major3").val());
                $("#id_major3").val("");
            }
        }
        //do the same thing for minors
        if ($("#id_minor1").val() == '')
        {
            if ($("#id_minor2").val() != '')
            {
                $("#id_minor1").val($("#id_minor2").val());
                $("#id_minor2").val("");
            }
            else if ($("#id_minor3").val() != '')
            {
                $("#id_minor1").val($("#id_minor3").val());
                $("#id_minor3").val("");
            }
        }
        if ($("#id_minor2").val() == '')
        {
            if ($("#id_minor3").val() != '')
            {
                $("#id_minor2").val($("#id_minor3").val());
                $("#id_minor3").val("");
            }
        }
    });
</script>
{% endblock %}
{% block content %}
{% if submitted %}
<h3>Your form has been submitted</h3>
{% endif %}
<form action='' method='post' class = "form">{% csrf_token %}
    <fieldset class="blockLabels">
        <legend>For Diploma</legend>
        <ol>
            <li>Type your name EXACTLY as you want it to appear on your diploma, which will also be how
                your name will be read as you cross the stage at the graduation ceremony.</li>
            <li class="ctrlHolder"><h3><label for="id_student_id">Student ID</label></h3>
                <div class='readonly'>
                    {{form.student_id}}
                    {{form.student_id.value}}
                    {{form.student_id.errors}}
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_fname">First Name</label></h3>
                <div class='required'>
                    {{form.fname}}
                    {{form.fname.errors}}
                    <img class='hidden' id='fname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='fname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_mname">Middle Initial</label></h3>
                <div class='required'>
                    {{form.mname}}
                    {{form.mname.errors}}
                    <img class='hidden' id='mname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='mname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_lname">Last Name</label></h3>
                <div class='required'>
                    {{form.lname}}
                    {{form.lname.errors}}
                    <img class='hidden' id='lname_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='lname_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_fnamepro">Tell us how to pronounce your first name (phonetically)</label></h3>
                <div class='required'>
                    {{form.fnamepro}}
                    {{form.fnamepro.errors}}
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_lnamepro">Tell us how to pronounce your last name (phonetically)</label></h3>
                <div class='required'>
                    {{form.lnamepro}}
                    {{form.lnamepro.errors}}
                </div>
            </li>
        </ol>
    </fieldset>    
    <fieldset class="blockLabels">
        <legend>Majors and Minors</legend>
        <ol>
            <li>List all major(s) and minor(s) that you plan on completing. You will not be certified
                for graduation until you complete all requirements for all listed majors and minors.<br><br>
            </li>
            <li class="ctrlHolder" id="major1"><h3><label for="id_major1">Majors</label></h3>
                <div class="required">
                    {{ form.major1 }}
                    {{ form.major1.errors }}
                </div>
            </li>
            <li class="ctrlHolder" id="major2"><h3><label for="id_major2"></label></h3>
                {{ form.major2 }}
                {{ form.major2.errors }}
            </li>
            <li class="ctrlHolder" id="major3"><h3><label for="id_major3"></label></h3>
                {{ form.major3 }}
                {{ form.major3.errors }}
            </li>
            <hr>
            <li class="ctrlHolder" id="minor1"><h3><label for="id_minor1">Minors</label></h3>
                {{ form.minor1 }}
                {{ form.minor1.errors }}
            </li>                
            <li class="ctrlHolder" id="minor2"><h3><label for="id_minor2"></label></h3>
                {{ form.minor2 }}
                {{ form.minor2.errors }}
            </li>                
            <li class="ctrlHolder" id="minor3"><h3><label for="id_minor3"></label></h3>
                {{ form.minor3 }}
                {{ form.minor3.errors }}
            </li>
        </ol>
    </fieldset>    
    <fieldset class="blockLabels">
        <legend>{{ year_up }} Ceremony</legend>
        <ol>
            <li>Check the box below if you intend to participate in the May {{ year_up }} Graduation Ceremony.
            </li>
            <li class="ctrlHolder">
                <h3>
                    {{form.participate_in_graduation}}
                    {{form.participate_in_graduation.errors}}
                </h3>
            </li>
        </ol>
    </fieldset>    
    <fieldset class="blockLabels">
        <legend>Required Courses Status</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_grad_yr">Year Graduating</label></h3>
                <div class="required">
                    {{form.grad_yr}}
                    {{form.grad_yr.errors}}
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_grad_session">Session Graduating</label></h3>
                <div class="required">
                    {{form.grad_session}}
                    {{form.grad_session.errors}}
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_will_teach">Will you be student teaching?</label></h3>
                <div class="required">
                    {{form.will_teach}}
                    {{form.will_teach.errors}}
                </div>
            </li>            
            <li class="ctrlHolder hideme"><h3><label for="id_teach_year">In which year will you be teaching?</label></h3>
                <div class="required">
                    {{form.year_teach}}
                    {{form.year_teach.errors}}
                </div>
            </li>         
            <li class="ctrlHolder hideme"><h3><label for="id_teach_year">In which term will you be teaching?</label></h3>
                <div class="required">
                    {{form.term}}
                    {{form.term.errors}}
                </div>
            </li>
            <li>Note: Carthage allows you to participate in the May {{ year_up }} graduation ceremony if you can complete
                all of your remaining graduation requirements by taking 12 or fewer credits in the Summer of {{ year_up }}. All
                graduation requirements must be completed before the degree can be conferred
            </li>
        </ol>
    </fieldset>      
    <fieldset class="blockLabels">
        <legend>Contact Information</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_best_contact">Best way to reach you</label></h3>
                <div class='required'>
                    {{form.best_contact}}
                    {{form.best_contact.errors}}
                    <!--<img class='hidden' id='best_contact_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='best_contact_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>-->
                </div>
            </li>
            <li class="ctrlHolder phonec"><h3><label for="id_best_contact_value">Phone Number</label></h3>
                <div class='required'>
                    {{form.best_contact_value}}
                    {{form.best_contact_value.errors}}
                    <img class='hidden' id='best_contact_value_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='best_contact_value_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder emailc"><h3><label for="id_best_contact_value">Email</label></h3>
                <div class='required'>
                    {{form.best_contact_value}}
                    {{form.best_contact_value.errors}}
                    <!--<img class='hidden' id='best_contact_value_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='best_contact_value_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>-->
                </div>
            </li>
        </ol>
    </fieldset>    
    <fieldset class="blockLabels">
        <legend>Diploma Destination</legend>
        <ol>
            <li>Where should we send your diploma?
            Please list an address that will remain
            current at least three months after you complete your degree:
            </li>        
            <li class="ctrlHolder"><h3><label for="id_address">Address</label></h3>
                <div class='required'>
                    {{form.address}}
                    {{form.address.errors}}
                    <img class='hidden' id='address_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='address_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_city">City</label></h3>
                <div class='required'>
                    {{form.city}}
                    {{form.city.errors}}
                    <img class='hidden' id='city_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='city_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
            <li class="ctrlHolder"><h3><label for="id_state">State</label></h3>
                <div class='required'>
                    {{form.state}}
                    {{form.state.errors}}
                    <img class='hidden' id='state_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='state_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>         
            <li class="ctrlHolder"><h3><label for="id_zipcode">Zip Code</label></h3>
                <div class='required'>
                    {{form.zipcode}}
                    {{form.zipcode.errors}}
                    <img class='hidden' id='zipcode_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img class='hidden' id='zipcode_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
    </fieldset>    
    <fieldset class="blockLabels">
        <legend>Certify and Submit</legend>
        <ol>
            <li>I certify that the information that I have provided above is accurate. If any changes
            are necessary I will notify the Registrar's Office immediately.
            </li>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>
        </ol>
    </fieldset>
</form>
<div class="loader"><!-- for loading icon --></div>
{% endblock %}
