{% extends "djdash/base.html" %}
{% block title %}Admininstration - Undergraduate Candidacy{% endblock %}
{% block extra_style %}
    <!-- Page-Level Plugin CSS - Tables -->
    <link href="//www.carthage.edu/static/vendor/dashboard/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <style type="text/css">
    .ui-autocomplete.ui-menu {
        z-index: 10000;
      }
    .center{text-align:center;}
    .red {color:#800;}
    .green {color:#008000;}
    div.DTTT {
    float: right;
    margin-bottom: 1em;
    position: relative;
    }
    .loader {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 ) 
                    url('http://i.imgur.com/VOYFJhg.gif') 
                    50% 50% 
                    no-repeat;
    }
    
    /* When the body has the loading class, we turn
       the scrollbar off with overflow:hidden */
    body.loading {
        overflow: hidden;   
    }
    
    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .loader {
        display: block;
    }
    </style>
{% endblock %}
{% block extra_javascript %}
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//www.carthage.edu/static/vendor/js/spin.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script type="text/javascript">
    $(function() {
        /* spinner */
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'search-results', // The CSS class to assign to spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50px', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        var target = document.getElementById("students-data-panel");
        var spinner = new Spinner(opts).spin(target);
        spinner.stop(target);

        //Initialise the DataTables
        $('#students-data').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "order": [[ 2, "asc" ]],
            "aoColumnDefs": [{
                "bSortable": false,
                "aTargets": [-1]
            }],
            "oTableTools": {
                "sSwfPath": "//www.carthage.edu/static/vendor/dashboard/js/plugins/dataTables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",  
                "aButtons": [
                    "print", "xls", {
                        "sExtends": "pdf",
                        "sPdfOrientation": "landscape"
                    },
                ],
            },
            "lengthMenu": [
                [100, 250, 500, 1000, 2000, -1],
                [100, 250, 500, 1000, 2000, "All"]
            ]
        });
        /* x-editable jquery plugin */
        $.fn.editable.defaults.mode = 'inline';
        
        {% if not students and not student %}
            alert("There was a problem fetching the student data.\nPlease reload the page or try your search again.");
        {% endif %}
    });
    $(".approved").change(function(){
        var checked;
        if($(this).prop('checked'))
        {
            checked = 'Y';
        }
        else
        {
            checked = 'N';
        }         
        $body = $("body");
        $(document).on({
            ajaxStart: function() { $body.addClass("loading");    },
            ajaxStop: function() { $body.removeClass("loading"); }    
        });
        $.ajax({
            type: 'POST',
            url: "{% url 'ug_set_approved' %}",
            data: {
                'approved': checked,
                'id': $(this).val()
            },
            cache: false,
            success: function(data){
                alert(data);
            },
            });
    });
    var list = new Array();
    {% for stud in full_student_list %}
        list.push({label: "{{stud.last_name|escapejs}}, {{stud.first_name|escapejs}} {{stud.middle_initial}} {{stud.student_id}}",
                    value: {{stud.student_id}}})
    {% endfor %}
    $('[name=cid]').autocomplete({source: list});
    $('[name=cid]').autocomplete("enable");
    </script>
{% endblock %}
{% block navbar-header %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"
            href="http://www.carthage.edu/registrar/">
            Carthage Registrar
        </a>
    </div>
{% endblock %}
{% block navbar-top-links %}
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <em class="fa fa-user"></em> {{user.first_name}}
                <strong class="caret"></strong>
            </a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li>
                    <a href="{% url 'auth_logout' %}">
                        <i class="fa fa-power-off"></i> Sign Out
                    </a>
                </li>
            </ul>
        </li>
        <!-- /.dropdown-user -->
    </ul>
{% endblock %}
{% block navbar-static-side %}
    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <form action="{% url 'undergrad_search' %}" method="post" />
                            {% csrf_token %}
                            <input type="text" name="cid" class="form-control" placeholder="Search by ID or Name..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <em class="fa fa-search"></em>
                                </button>
                            </span>
                        </form>
                    </div>
                </li>
                <li>
                    <a href="{% url 'undergrad_admin' %}">
                        <em class="fa fa-dashboard fa-fw"></em> Dashboard
                    </a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}" title="Administration">
                      <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                      Administration
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="http://www.carthage.edu/">
                        <em class="fa fa-home fa-fw"></em> Carthage Home
                    </a>
                </li>
                <li>
                    <a href="http://my.carthage.edu/">
                        <em class="fa fa-lemon-o fa-fw"></em> My.Carthage
                    </a>
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Undergraduate Candidacy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="students-data-panel">
                    {% include "undergradcandidacy/admin.html" %}
                </div>
            </div>
        </div>
    </div>
<div class="loader"><!-- for loading icon --></div>
{% endblock content %}
