{% extends "blank.html" %}
{% load livewhale_api %}
{% block title %}{% endblock %}
{% block css %}
<!-- Bootstrap core CSS-->
<link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/bootstrap/css/bootstrap.min.css"
  rel="stylesheet" type="text/css">
<!-- Custom fonts for this template-->
<link href="https://www.carthage.edu/static/vendor/bootstrap-admin4/vendor/font-awesome/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/themes/korra/assets/css/master.css"
  type="text/css" rel="stylesheet">
<link href="//www.carthage.edu/themes/korra/assets/css/addons.css"
  type="text/css" rel="stylesheet">
<link href="//www.carthage.edu/themes/korra/assets/css/print.css"
  type="text/css" rel="stylesheet">
<link href="//www.carthage.edu/themes/shared/css/icons.css"
  type="text/css" rel="stylesheet">
<link href="//www.carthage.edu/themes/shared/css/forms.css"
  rel="stylesheet" type="text/css">
<link href="//www.carthage.edu/themes/shared/css/tables.css"
  rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_javascript %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            var availableCourses = [
                "ART 1050: Crafts (FAR)",
                "ART 1070: Introduction to Two-Dimensional Design (FAR)",
                "ART 1071: Introduction to Three- Dimensional Design (FAR)",
                "ART 2000: Drawing I (FAR)",
                "ART 200D: TP: 4D (FAR)",
                "ARH 200H BS: TP: Beauty and the Sacred: Art and Architecture in Islam (FAR)(GH)(CS)",
                "ART 200L: TP: Photography: Alternative Processes (FAR)",
                "ARH 2100: History of Photography: Daguerre to Digital (FAR)",
                "ART 2110: Darkroom Photography (FAR)",
                "ART 2130: Color Photography (FAR)",
                "ART 2220: Acrylic Painting (FAR)",
                "ART 2230: Watercolor Painting (FAR)",
                "ART 2300: Printmaking: Silkscreen (FAR)",
                "ART 2310: Printmaking: Lithography (FAR)",
                "ART 2320: Printmaking: Intaglio (FAR)",
                "ART 2400: Introduction to Sculpture (FAR)",
                "ART 2410: Wood Sculpture (FAR)",
                "ART 2500: Ceramic Hand-Building (FAR)",
                "ART 2510: Ceramic Wheel-Throwing (FAR)",
                "ART 2600W: Sophomore Seminar in Studio Art (WI)",
                "ARH 2700: Art Survey I: Paleolithic to 1400 (FAR)",
                "ARH 2701: Art Survey II: 1400 - 21st Century (FAR)",
                "ARH 2710 B: Arts of the Americas (GH)(FAR)",
                "ART 2750: 4D (FAR)",
                "ARH 2800WB: Research Methods in a Global Art History (FAR)(WI)(GH)",
                "ART 3000: Advanced Drawing (FAR)",
                "ART 3010: Illustration (FAR)",
                "ART 3110: Advanced Darkroom Photography (FAR)",
                "ART 3130: Advanced Color Photography",
                "ART 3200: Advanced Painting",
                "ART 3300: Advanced Printmaking",
                "ART 3400: Advanced Sculpture",
                "ART 3500: Advanced Ceramics",
                "ART 3550: Art Internship",
                "ARH 3700: Research Methods in Art History",
                "ARH 3720 B: Arts of Africa (FAR)(GH)",
                "ARH 3740W: Modern Art (FAR)(WI)",
                "ART 4000: Senior Seminar in Studio Art",
                "ART 4000W: Senior Seminar in Studio Art (WI)",
                "ART 4210: Art Curriculum and Methods: Early Childhood Through Early Adolescent (K-5) (FAR)",
                "ART 4220: Art Curriculum and Methods: Early Adolescent Through Adolescent (6-12)(FAR)",
                "ART 4500: Independent Study in Studio Art",
                "ART 4990: Senior Thesis Completion",
                "BIO 1010: Concepts in Biology (LAB SCI)",
                "BIOL1010: Concepts in Biology (LAB)",
                "BIO 1030: Conservation for Educators (LAB SCI)",
                "BIO 1040: Human Anatomy and Physiology (LAB SCI)",
                "BIOL1040: Human Anatomy & Physiology (LAB)",
                "BIO 1110: Molecules, Cells, and Organisms (LAB SCI)",
                "BIO 1120: Organisms, Populations, and Systems (LAB SCI)",
                "BIO 2010: Human Anatomy and Physiology for the Health Professional I (LAB SCI)",
                "BIOL2010: Anatomy & Physiology for the Health Profession I (LAB)",
                "BIO 2020: Human Anatomy and Physiology for the Health Professional II (LAB SCI)",
                "BIOL2020: Anatomy & Physiology for the Health Profession II (LAB)",
                "BIO 2200: Introduction to Ecology (LAB SCI)",
                "BIOL2200: Introductory Ecology (LAB)",
                "BIOL2300: Cell and Molecular Biology (LAB)",
                "BIO 2300W: Cell and Molecular Biology (LAB SCI)(WI)",
                "BIO 2400: Genetics (LAB SCI)",
                "BIOL2400: Genetics (LAB)",
                "BIO 3200  S: Aquatic Ecology (LAB SCI)(CS)",
                "BIOL3200: Aquatic Ecology (LAB)",
                "BIO 3300: Advanced Human Anatomical Systems (LAB SCI)",
                "BIOL3300: Human Anatomical Systems (LAB)",
                "BIO 3310: Advanced Human Physiological Systems (LAB SCI)",
                "BIOL3310: Systemic Physiology (LAB)",
                "BIO 3340: Microbiology (LAB SCI)",
                "BIOL3340: Microbiology (LAB)",
                "BIO 400A: TP: Vertebrate Ecology",
                "BIOL400A: TP: Vertebrate Ecology (LAB)",
                "BIO 400C: TP: Dinosaur Evolution and Extinction",
                "BIOL400C: TP: Dinosaur Evolution and Extinction (LAB)",
                "BIO 400D: TP: Medical Terminology",
                "BIO 400H: TP: Field Botany and Mycology",
                "BIO 400P: TP: Space Biology:  Human Health and Disease from Space to Earth",
                "BIO 400Q: TP: Bioinformatics: Phage Hunters II",
                "BIO 4120W: Senior Seminar in Biology (WI)",
                "BIO 4300: Immunology (LAB SCI)",
                "BIO 4500: Independent Study in Biology",
                "BIO 4900: Research in Biology",
                "BUS 1110: Introduction to Business",
                "BUS 200T: TP: Managing Arts and Nonprofit Organizations",
                "BUS 2110: Business Ethics (HUM)",
                "BUS 2340: Applied Statistics for Management and Economics (MTH)",
                "BUS 4900W: Business Policies Senior Seminar (WI)",
                "FIN 3550: Internship in Finance",
                "FIN 4500: Independent Study in Finance",
                "MGT 3550: Internship",
                "CDM 1150: Human Communication",
                "CDM 1200: Public Speaking (FAR)",
                "CDM 1300: Visual Communication",
                "CDM 2000: Graphic Design I",
                "CDM 2200: Principles of Public Relations",
                "CDM 2300: Interpersonal Communication",
                "CDM 2400: Gender Communication",
                "CDM 2600: New Media Theory and Aesthetics",
                "CDM 2620: Film Analysis",
                "CDM 2700: Film and New Media Production",
                "CDM 2800: Exploring the Documentary Form",
                "CDM 2850: Typography",
                "CDM 2900: Sports Media",
                "CDM 3000: Rhetoric and Persuasion",
                "CDM 3150W: History of Graphic Design (WI)",
                "CDM 3250: Graphic Design Practicum",
                "CDM 3310W: Journalistic Writing (WI)",
                "CDM 3320W: Screenwriting (WI)",
                "CDM 3350W: Public Relations Writing (WI)",
                "CDM 3400: Communication and Technology",
                "CDM 3420: Communications Management",
                "CDM 3450W: Mass Communication (WI)",
                "CDM 3530: Web Design I",
                "CDM 3540: Web Design II",
                "CDM 3545: Communication Skills Assessment",
                "CDM 3550: Communication Internship",
                "CDM 3555: Graphic Design Skills Assessment",
                "CDM 3565: Public Relations Skills Assessment",
                "CDM 3700: Organizational Communication",
                "CDM 3750: Graphic Design II",
                "CDM 3800: Public Relations Research Methods",
                "CDM 3810: Public Relations Campaigns",
                "CDM 3820: Crisis Communication",
                "CDM 4010W: Senior Seminar for Communication Majors (WI)",
                "CDM 4020: Graphic Design Senior Seminar",
                "CDM 4030W: Senior Seminar for Public Relations Majors (WI)",
                "CHM 1000: Better Living Through Chemistry (LAB SCI)",
                "CHML1000: Better Living Through Chemistry (LAB)",
                "CHM 1010: General Chemistry I (LAB SCI)",
                "CHML1010: General Chemistry I (LAB)",
                "CHM 1020: General Chemistry II (LAB SCI)",
                "CHML1020: General Chemistry II (LAB)",
                "CHM 2070: Organic Chemistry I (LAB SCI)",
                "CHML2070: Organic Chemistry I (LAB)",
                "CHM 2080: Organic Chemistry II (LAB SCI)",
                "CHML2080: Organic Chemistry II (LAB)",
                "CHM 2120: Inorganic Chemistry",
                "CHM 3010: Biochemistry (LAB SCI)",
                "CHML3010: Biochemistry (LAB)",
                "CHM 3020: Advanced Biochemistry",
                "CHM 3110: Advanced Integrated Laboratory",
                "CHM 3130: Physical Chemistry I",
                "CHM 3140: Physical Chemistry II",
                "CHM 3230: Analytical Chemistry I (LAB SCI)",
                "CHML3230: Analytical Chemistry I (LAB)",
                "CHM 3240: Analytical Chemistry II",
                "CHM 4000W: Chemistry Seminar (WI)",
                "CHM 4900: Research in Chemistry",
                "CLS 1030: Ancient Greece I: Troy to Sparta (HUM)",
                "CLS 1100: Classical Mythology (HUM)",
                "CLS 200C: TP: Ancient Jerusalem (HUM)",
                "CLS 2200: Classical Archaeology (HUM)",
                "CLS 2500: Blacks in Antiquity: Race in the Ancient Mediterranean World (HUM)",
                "CLS 2800: Special Topics in Classical Studies (HUM)",
                "CLS 3310: Greek Religions (HUM)",
                "CLS 4100W: Senior Seminar in Classics (HUM) (WI)",
                "GRK 1010: Elementary Greek I (MLA)",
                "GRK 1020: Elementary Greek II (MLA)",
                "GRK 3010: Advanced Ancient Greek I",
                "GRK 3020: Advanced Ancient Greek II",
                "LTN 1010: Elementary Latin I (MLA)",
                "LTN 1020: Elementary Latin II (MLA)",
                "LTN 3010: Advanced Latin I",
                "LTN 3020: Advanced Latin II",
                "CSC 1100: Introduction to Computing",
                "CSC 1810: Principles of Computer Science I",
                "CSC 1820: Principles of Computer Science II",
                "CSC 2030: Data Science I",
                "CSC 2560: Data Structures and Algorithms",
                "CSC 2810: Database Design and Management",
                "CSC 2910: Object-Oriented Programming",
                "CSC 3510: Computer Organization",
                "CSC 3530: Artificial Intelligence and Cognitive Modeling",
                "CSC 3600: Data Communications",
                "CSC 3750: Algorithms",
                "CSC 3770: Introduction to Computer Graphics",
                "CSC 4000: Senior Seminar",
                "CSC 400C: TP: Web Development",
                "CSC 4350W: Software Design and Development (WI)",
                "CSC 4500: Independent Study",
                "CSC 4990: Senior Thesis Completion",
                "ECN 1010: Principles of Microeconomics (SOC)",
                "ECN 1020: Principles of Macroeconomics (SOC)",
                "ECN 1030: Issues in Economics (SOC)",
                "ECN 2340: Applied Statistics for Economics and Management (MTH)",
                "ECN 2510: Intermediate Microeconomics (SOC)",
                "ECN 2520: Intermediate Macroeconomics (SOC)",
                "ECN 3050: Environmental Economics",
                "ECN 3100: Political Economy of the Pacific Rim (SOC)",
                "ECN 3200: Money and Banking (SOC)",
                "ECN 3250: Economics of Poverty and Income Inequality (SOC)",
                "ECN 3260: Labor Economics (SOC)",
                "ECN 3270: International Trade (SOC)",
                "ECN 3290W: International Finance (WI)",
                "ECN 3300: Law and Economics (SOC)",
                "ECN 3310: History of Economic Thought (SOC)",
                "ECN 3330  S: The Economics of Love and Sex (CS)",
                "ECN 3340: Introduction to Econometrics (SOC)",
                "ECN 3550: Internship in Economics/IPE",
                "ECN 4050W: Seminar in International Political Economy (WI)",
                "ECN 4410W: Senior Seminar in Economics (WI)",
                "ECN 4500: Independent Study in Economics",
                "ECN 4990: Senior Thesis Completion",
                "EDU 1010: Education and Society",
                "EDU 2010: Educational Psychology and Assessment",
                "EDU 2020 B: South Asia Through Children's and Young Adult Literature (GH)",
                "EDU 2050: Teaching and Supporting Learners with Diverse Characteristics and Needs",
                "EDU 2080: Instructional Technology for Exceptional Learners",
                "EDU 2120: Inclusion: Communication and Collaboration with Professionals , Families, and Communities",
                "EDU 2130: Multicultural Children's and Early Adolescents' Literature",
                "EDU 2140: Principles of Instructional Design",
                "EDU 2150: Creative Arts: Music and Art in Elementary and Middle Schools",
                "EDU 2340: Foundations in Urban Education",
                "EDU 2570: Fostering Engagement and Positive Behavior in the Classroom (Grades 5-12)",
                "EDU 2720: Fostering Engagement and Positive Behavior in the Classroom (Grades 1-8)",
                "EDU 2810: Alcohol, Tobacco, and Other Drugs (ATOD) Education",
                "EDU 3050: Teaching and Supporting Learners with Diverse Characteristics and Needs",
                "EDU 3110: Comprehensive Assessment of Exceptional Learners",
                "EDU 3160: Social Studies in the Elementary and Middle Schools",
                "EDUC3160: Social Studies in the Elementary and Middle Schools (Clinical)",
                "EDUC3220: Reading and Language Arts I (Grades 1-8)(Clinical)",
                "EDU 3220W: Reading and Language Arts I (Grades 1-8) (WI)",
                "EDU 3230: Reading and Language Arts II (Grades 1-8)",
                "EDUC3230: Reading and Language Arts II (Grades 1-8)(Clinical)",
                "EDU 3240: English Language Learner: Methods and Studies in Education",
                "EDU 3250: Effectively Teaching Mathematics in the Elementary/Middle School",
                "EDUC3250: Effectively Teaching Mathematics in the Elementary/Middle School (Clinical)",
                "EDU 3260: Effectively Teaching Science in the Elementary/Middle School",
                "EDUC3260: Effectively Teaching Science in the Elementary/Middle School (Clinical)",
                "EDU 3340: Teachers and Teaching in Urban Education",
                "EDU 3500: Fieldwork in Education",
                "EDU 3520: Developmental and Content Area Reading",
                "EDU 3520W: Developmental and Content Area Reading (WI)",
                "EDU 3900: Junior Thesis Seminar",
                "EDU 4090: Methods for Teaching Elementary Level Exceptional Learners",
                "EDU 4100: Methods for Teaching Secondary Level Exceptional Learners",
                "EDU 4200: Methods and Materials in Teaching Secondary Social Science",
                "EDU 4282: Culturally Responsive Instruction",
                "EDU 4285: Fundamentals of Linguistics for Teachers of Diverse Learners",
                "EDU 4300: Professional Seminar",
                "EDU 4340: Urban and Cultural Leadership",
                "EDU 4500: Independent Study",
                "EDU 4900: Student Teaching Seminar",
                "ENG 1060W: Interpreting Literature (HUM) (WI)",
                "ENG 1160W: Introduction to Literary Studies (HUM)(WI)",
                "ENG 200K  S: TP: Apocalyptic Imaginings (CS)(HUM)",
                "ENG 2010W: American Literary Traditions (WI) (HUM)",
                "ENG 2020: British Literary Traditions I (prior to 1800)(HUM)",
                "ENG 2030: British Literary Traditions II (after 1800)(HUM)",
                "ENG 2040: The Classical Tradition in Literature (HUM)",
                "ENG 2050W: Creative Writing (WI)",
                "ENG 3010W: Literature in Its Time I (HUM) (WI)",
                "ENG 3040: Advanced Writing",
                "ENG 3090  S: Literature of Diversity (HUM) (CS)",
                "ENG 3100: Literature and Gender (HUM)",
                "ENG 3110: Shakespeare (HUM)",
                "ENG 3140: Literary Genres (HUM)",
                "ENG 3750W: History and Structure of the English Language (WI)",
                "ENG 4100W: Senior Seminar (WI)",
                "ENG 4200: Methods and Materials in Teaching English",
                "ENG 4300W: Seminar in Creative Writing (WI)",
                "ENG 4500: Independent Study",
                "EXS 0010: Concepts of Physical Fitness",
                "EXS 0020: Walking for Fitness (PE)",
                "EXS 0030: Strength Training (PE)",
                "EXS 0050: Rock Climbing (PE)",
                "EXS 0130: Golf (PE)",
                "EXS 0160: Water Aerobics (PE)",
                "EXS 0240: Yoga (PE)",
                "EXS 0250: Tai Chi (PE)",
                "EXS 0290: Open Water Scuba Certification (PE)",
                "EXS 0700: Women's Volleyball (PE)",
                "EXS 0710: Football (PE)",
                "EXS 0720: Women's Golf (PE)",
                "EXS 0730: Men's Soccer (PE)",
                "EXS 0740: Women's Soccer (PE)",
                "EXS 0750: Women's Cross Country (PE)",
                "EXS 0760: Men's Cross Country (PE)",
                "EXS 0770: Women's Tennis (PE)",
                "EXS 1010: Foundations of Exercise and Sport Science",
                "EXS 1051: Theory and Practice of Individual Sports I",
                "EXS 1052: Theory and Practice of Individual Sports II",
                "EXS 1061: Theory and Practice of Team Sports I",
                "EXS 1062: Theory and Practice of Team Sports II",
                "EXS 1071: Teaching and Practice of Dance and Gymnastics",
                "EXS 1072: Water Safety Instruction (WSI)",
                "EXS 1080: Introduction to Health and Wellness Education",
                "EXS 2180: Prevention and Care of Athletic Injuries",
                "EXS 2200: Nutrition for Health and Performance",
                "EXS 2270: Consumer Health Issues",
                "EXS 2300: Applied Principles of Strength Training",
                "EXS 2450: Physical Education and Health Methods",
                "EXS 2500: Comprehensive School Health Programming",
                "EXS 2620: Adapted Physical Education and Sport",
                "EXS 2700W: Elementary Physical Education: Principles of Movement (WI)",
                "EXS 2810: Alcohol, Tobacco, and Other Drugs (ATOD) Education",
                "EXS 3010W: Tests and Measurement in Exercise and Sport Science (WI)",
                "EXS 3030: Sport and Recreation Management",
                "EXS 3070: Applied Exercise Anatomy and Biomechanics",
                "EXS 3090: Sexuality Education",
                "EXS 3110: Personal and Community Health",
                "EXS 3120: Issues in Emotional and Mental Health",
                "EXS 3520: Field Placement in Specially Designed Physical Education",
                "EXS 3530: Strength and Conditioning Practicum",
                "EXS 3720: General Medical Conditions for the Athletic Trainer",
                "EXS 4050W: Physiology of Exercise (WI)",
                "EXS 4200: Methods and Materials of Teaching Physical Education",
                "EXS 4210: Methods and Materials of Teaching Health Education",
                "EXS 4500: Independent Study",
                "EXS 4900: Field Placement in Exercise and Sport Science",
                "ACC 200A: TP: Volunteer Income Tax Assistance",
                "ACC 2010: Financial Accounting",
                "ACC 2020: Managerial Accounting",
                "ACC 2040: Cost and Managerial Accounting",
                "ACC 2050: Cost Accounting",
                "ACC 3010: Intermediate Accounting I",
                "ACC 3020: Intermediate Accounting II",
                "ACC 3060: Individual Taxation",
                "ACC 3090: Business Taxation",
                "ACC 3550: Accounting Internship",
                "ACC 400C: TP: Governmental and Not-for-Profit Accounting",
                "ACC 4010: Advanced Accounting",
                "ACC 4020: Auditing",
                "ACC 4500: Independent Study in Accounting",
                "FIN 200A: TP: Financial Market Research",
                "FIN 3200: Money and Banking (SOC)",
                "FIN 3210: Corporate Finance",
                "FIN 3290W: International Finance (WI)",
                "FIN 400A: TP: Financial Derivatives, Concepts and Applications",
                "FIN 400C: TP: Trading in the Financial Markets, Beyond the Theories and Myths",
                "FIN 400D: TP: Fixed Income Analysis",
                "FIN 4050: Security Analysis and Portfolio Management",
                "GEO 1600: Earth Revealed (NLAB)",
                "GEO 1610: Introduction to Geographic Information Science: Mapping Your World (NLAB)",
                "GEO 1700: Natural Disasters (NLAB)",
                "GEO 1770: Unmanned Aerial Systems (Drones) in Geosciences (NLAB)",
                "GEO 1800: Great Lakes Basin (NLAB)",
                "GEO 1900: Geology of National Parks (NLAB)",
                "GEO 2450: Biogeography (NLAB)",
                "GEO 2610: Advanced Geographic Information Science and Analytical Cartography (NLAB)",
                "GEO 2700: Satellite Image and Air Photo Analysis (NLAB)",
                "GEO 3200: Hydrology (LAB SCI)",
                "GEO 3200  S: Hydrology (LAB SCI)(CS)",
                "GEOL3200: Hydrology (LAB)",
                "GEO 3300: Analytical Techniques in Geospatial Science (NLAB)",
                "GEO 3900W: Methods of Field Research (WI)",
                "GEO 4000W: Senior Seminar In Geospatial Science (WI)",
                "GEO 4600: Applied Projects in Geographic Information Science",
                "GEO 4900: Geospatial Science Research",
                "GEO 4901: Concentration Completion",
                "GEO 4990: Senior Thesis Completion",
                "HIS 1000: Issues in American History (HUM)",
                "HIS 1110: Issues in European History I (HUM)",
                "HIS 1120: Issues in European History II (HUM)",
                "HIS 1200 B: Issues in Asian History(HUM)(GH)",
                "HIS 1410: Issues in South America: Dictatorship and Democracy (HUM)",
                "HIS 200F  S: TP: Reason and Revelation:Jewish Islamic, Christian and Secular Views (CS)(HUM)",
                "HIS 200Q: TP: War and Empire: Europe 1688-1815 (HUM)",
                "HIS 200Y: TP: The Civil War and Reconstruction (HUM)",
                "HIS 2140: Modern Caribbean: From Pirates to the Cuban Missile Crisis (HUM)",
                "HIS 2150: Modern Britain (HUM)",
                "HIS 2200W: Historical Methods (HUM)(WI)",
                "HIS 2310: The Greeks (HUM)",
                "HIS 2450WB: A Social History of 20th Century Japan Through Film (HUM)(GH) (WI)",
                "HIS 2850: Comparative History: Chicago and Milwaukee (HUM)",
                "HIS 2900: 20th Century U.S. History (HUM)",
                "HIS 3040: Modern Central America: Inevitable Revolutions (HUM)",
                "HIS 3450 B: Modern Japan (HUM)(GH)",
                "HIS 3550: History Internship",
                "HIS 3990: Historiography (HUM)",
                "HIS 4000: Senior Seminar",
                "HIS 4000W: History Senior Seminar (WI)",
                "HIS 400A  S: TP:An Interdisciplinary Approach to 19th and 20th Century Mexico (CS)(HUM)",
                "HIS 675A: TP:History of the British Isles According to Hollywood (HUM)",
                "ASN 4500: Independent Study in Asian Studies",
                "CHN 4010W: Senior Seminar in Chinese (WI)",
                "CHN 1010: Introductory Chinese I (MLA)",
                "CHN 1020: Introductory Chinese II (MLA)",
                "CHN 2010: Elementary Chinese I",
                "CHN 2011: Elementary Oral Chinese I",
                "CHN 2020: Elementary Chinese II",
                "CHN 2021: Elementary Oral Chinese II",
                "CHN 3010: Intermediate Chinese I",
                "CHN 3011: Intermediate Oral Chinese I",
                "CHN 3020: Intermediate Chinese II",
                "CHN 3021: Intermediate Oral Chinese II",
                "CHN 3070: Chinese/Japanese Culture and Language",
                "CHN 3080: Chinese and Japanese Literature and Culture (HUM)",
                "CHN 4070: Advanced Chinese",
                "FRN 1010: Elementary French I (MLA)",
                "FRN 1020: Elementary French II (MLA)",
                "FRN 200P BS: TP: Music, Film and Media in Africa (HUM)(GH)(CS)",
                "FRN 2010: Intermediate French I",
                "FRN 2020: Intermediate French II",
                "FRN 3010: Advanced French",
                "FRNL3010: French Competency Exam",
                "FRN 3030: French Conversation",
                "FRN 3080: French-Speaking World: Social, Political, and Economic Issues (HUM)",
                "FRN 3110: Interpreting Written Texts in French (HUM)",
                "FRN 400AW: TP:Modern Francophone Cultures Through Film and Multi-Media (WI)(HUM)",
                "FRN 4010W: Senior Seminar (WI)",
                "GRM 1010: Elementary German I (MLA)",
                "GRM 1020: Elementary German II (MLA)",
                "GRM 2010: Intermediate German I",
                "GRM 2020: Intermediate German II",
                "GRM 3010: Advanced German",
                "GRML3010: German Competency Exam",
                "GRM 3030: German Conversation",
                "GRM 3080: German-Speaking World: Social, Political, and Economic Issues (HUM)",
                "GRM 3110: Interpreting Written Texts (HUM)",
                "GRM 4010W: Senior Seminar in German (WI)",
                "GNR 3510: Immersion Abroad",
                "GNR 3511: Immersion Abroad (Exchange)",
                "JPN 1010: Introductory Japanese I (MLA)",
                "JPN 1020: Introductory Japanese II (MLA)",
                "JPN 2010: Elementary Japanese I",
                "JPN 2011: Elementary Oral Japanese I",
                "JPN 2020: Elementary Japanese II",
                "JPN 2021: Elementary Oral Japanese II",
                "JPN 3010: Intermediate Japanese I",
                "JPN 3011: Intermediate Oral Japanese I",
                "JPN 3020: Intermediate Japanese II",
                "JPN 3021: Intermediate Oral Japanese II",
                "JPN 3070: Chinese/Japanese Culture and Language",
                "JPN 3080: Chinese and Japanese Literature and Culture (HUM)",
                "JPN 4010: Senior Seminar in Japanese",
                "JPN 4010W: Senior Seminar in Japanese (WI)",
                "JPN 4070: Advanced Japanese",
                "MLA 200D B: TP: Chinese and Japanese Culture Through Films (GH)(HUM)",
                "MLA 2200: Cultural Awareness",
                "MLA 2300 B: Latin American Global Heritage (GH)(HUM)",
                "MLA 400A  S: TP:An Interdisciplinary Approach to 19th and 20th Century Mexico (CS)(HUM)",
                "GRM 400E: TP:Representations of the Holocaust (HUM)",
                "MLA 4200: Methods and Materials in Teaching Modern Languages",
                "MLA 4500: Independent Study in Modern Language",
                "SPN 1010: Elementary Spanish I (MLA)",
                "SPN 1020: Elementary Spanish II (MLA)",
                "SPN 2010: Intermediate Spanish I",
                "SPN 2020: Intermediate Spanish II",
                "SPN 3010: Advanced Spanish I",
                "SPNL3010: Spanish Competency Exam",
                "SPN 3030: Spanish Conversation",
                "SPN 3080: Spanish-Speaking World: Social, Political, and Economic Issues (HUM)",
                "SPN 3090: Spanish-Speaking World: Cultural and Intellectual Life (HUM)",
                "SPN 3110: Interpreting Written Texts (HUM)",
                "SPN 400C: TP: Spanish Textbook Creation",
                "SPN 4010W: Senior Seminar in Spanish (WI)",
                "MGT 200G: TP: Grant Writing for Arts and Nonprofit Organizations",
                "MGT 3100: Introduction to Business Analytics",
                "MGT 3120: Principles of Management",
                "MGT 3300: Operations Management",
                "MGT 3400: Human Resource Management",
                "MGT 3600: Legal Environment of Business",
                "MGT 3610: Accounting Law",
                "MGT 3710: International Management",
                "MGT 4500: Independent Study",
                "MKT 3130: Marketing Principles",
                "MKT 3140: Consumer Behavior",
                "MKT 3230: Personal Selling and Sales Management",
                "MKT 400A: TP: Introduction to Social Media Marketing",
                "MKT 4100: Integrated Marketing Communications",
                "MKT 4210W: Marketing Research (WI)",
                "MKT 4220: Business to Business Marketing",
                "MKT 4500: Independent Study",
                "MTH 1030: Applied Contemporary Mathematics (MTH)",
                "MTH 1040: Principles of Modern Mathematics (MTH)",
                "MTH 1050: Elementary Statistics (MTH)",
                "MTH 1070: Functions, Graphs, and Analysis (MTH)",
                "MTH 1120: Calculus I (MTH)",
                "MTHL1120: Calculus I (LAB)",
                "MTH 1220: Calculus II (MTH)",
                "MTHL1220: Calculus II (LAB)",
                "MTH 1240: Discrete Structures (MTH)",
                "MTH 2020: Differential Equations (MTH)",
                "MTH 2040W: Linear Algebra (MTH)(WI)",
                "MTH 2080: Modern Geometry (MTH)",
                "MTH 2090: Mathematical Computing",
                "MTH 2120: Multivariate Calculus (MTH)",
                "MTHL2120: Multivariate Calculus (LAB)",
                "MTH 2130: Mathematics of Actuarial Science (MTH)",
                "MTH 3030: Probability (MTH)",
                "MTH 3040W: Abstract Algebra I (MTH)(WI)",
                "MTH 3050: Statistics (MTH)",
                "MTH 3090: Data Science II",
                "MTH 3120W: Real Analysis (MTH)(WI)",
                "MTH 3180: Introduction to Topology (MTH)",
                "MTH 3470: Mathematics for Scientists and Engineers (MTH)",
                "MTH 4200: Methods and Materials in Teaching Mathematics",
                "MTH 4300: Senior Research",
                "MTH 4990: Senior Thesis Completion",
                "MUS 0010: Carthage Choir",
                "MUS 0020: Carthage Chorale",
                "MUS 0030: Lincoln Singers",
                "MUS 0050: Carthage Wind Orchestra",
                "MUS 0051: Concert Band",
                "MUS 0070: Carthage Philharmonic",
                "MUS 0080: Jazz Band",
                "MUS 0090: Small Instrumental Ensembles",
                "MUS 0150: Private Piano",
                "MUS 0160: Keyboard Skills I",
                "MUS 0170: Keyboard Skills II",
                "MUS 0180: Keyboard Skills III",
                "MUS 0190: Keyboard Skills IV",
                "MUS 0240: Carthage Treble Choir",
                "MUS 0250: Private Voice",
                "MUS 0300: Keyboard Seminar",
                "MUS 0450: Private Organ",
                "MUS 0550: Private Instrument",
                "MUS 0700: Recital Attendance",
                "MUS 1010: Music Theory I",
                "MUS 1020: Aural Skills I",
                "MUS 1030: Music Theory II",
                "MUS 1040: Aural Skills II",
                "MUS 1150: Exploring Music (FAR)",
                "MUS 1170: Music Technology and Industry",
                "MUS 1180: Introduction to Music Education",
                "MUS 200I: TP: Americanism in Music (FAR)",
                "MUS 200P BS: TP: Music, Film and Media in Africa (FAR)(GH)(CS)",
                "MUS 200Y: TP: Introduction to Music Therapy",
                "MUS 2010: Music Theory III",
                "MUS 2020: Aural Skills III",
                "MUS 2030: Music Theory IV",
                "MUS 2040: Aural Skills IV",
                "MUS 2050: Woodwind Techniques in Schools",
                "MUS 2075: Instrumental Chamber Music Workshop",
                "MUS 2080: String Techniques in Schools",
                "MUS 2090: Global Music Education",
                "MUS 2180: Basic Conducting",
                "MUS 2490: Vocal Diction and Literature",
                "MUS 2620: Music Theatre Workshop",
                "MUS 3010: Seminar in Form and Analysis",
                "MUS 3050: Music History I",
                "MUS 3060: Music History II",
                "MUS 3070W: Music History: Literature and Depth (WI)",
                "MUS 3100: Instrumental Conducting and Techniques",
                "MUS 3110: Choral Conducting and Techniques",
                "MUS 3200: Field Experience",
                "MUS 3400: Music Theatre History",
                "MUS 3550: Internship",
                "MUS 400C: TP:Movement for Singers",
                "MUS 400D: TP: Vocal Pedagogy",
                "MUS 400U: TP: Basic Acting for Performers",
                "MUS 4020: Instrumental Music Pedagogy",
                "MUS 4100: Piano Literature",
                "MUS 4101: Piano Literature I",
                "MUS 4102: Piano Literature II",
                "MUS 4200: Instrumental Music Methods",
                "MUS 4210: General Music Methods",
                "MUS 4220: Vocal Music Methods",
                "MUS 4500: Independent Study",
                "MUS 4980: Half Recital Completion",
                "MUS 4990: Senior Thesis Completion",
                "NSG 2010: Pathophysiologic Concepts for Nursing Practice",
                "NSG 2012: Core Concepts for Nursing Practice",
                "NSGC2012: Core Concepts for Nursing Practice: Clinical Experience",
                "NSG 3010: Principles of Pharmacotherapeutics in Nursing Practice",
                "NSG 3012: Nursing Practice I: Improving Adult Health Outcomes",
                "NSGC3012: Nursing Practice I: Improving Adult Health Outcomes (Clinical)",
                "NSG 3014: Nursing Practice II: Improving Children's Health Outcomes",
                "NSGC3014: Nursing Practice II: Improving Children's Health Outcomes (Clinical)",
                "NSG 3015: Assuring Quality and Safety in Health Care Settings",
                "NSG 3020: Nursing Practice III: Improving Mental Health Outcomes",
                "NSGC3020: Nursing Practice III: Improving Mental Health Outcomes (Clinical)",
                "NSG 3022: Nursing Practice IV: Improving Maternal and Newborn Health Outcomes",
                "NSGC3022: Nursing Practice IV: Improving Maternal and Newborn Health Outcomes (Clinical)",
                "NSG 3024: Clinical Scholarship: Applying Evidence to Improve Health Outcomes",
                "NSG 3024W: Clinical Scholarship: Applying Evidence to Improve Health Outcomes (WI)",
                "NSG 4020: Nursing Practice V: Improving Health Outcomes of Populations",
                "NSGC4020: Nursing Practice V: Improving Health Outcomes of Populations (Clinical)",
                "NSG 4022: Nursing Practice VI: Improving Health Outcomes in Complex Situations",
                "NSGC4022: Nursing Practice VI: Improving Health Outcomes in Complex Situations (Clinical)",
                "NSG 4024: Leading Systems of Care to Improve Health Outcomes",
                "NSG 4026: Advanced Clinical Synthesis and Capstone",
                "NSG 4500: Independent Study in Nursing",
                "PHL 1000: Introduction to Philosophy (HUM)",
                "PHL 1200: The Art of Thinking (HUM)",
                "PHL 200C: TP:Foundations of American Thought (HUM)",
                "PHL 200F  S: TP: Reason and Revelation:Jewish Islamic, Christian and Secular Views (CS)(HUM)",
                "PHL 2010: Introduction to Ancient Greek Philosophy (HUM)",
                "PHL 2110: Business Ethics (HUM)",
                "PHL 4000: Senior Seminar in Philosophy (HUM)",
                "PHL 4500: Independent Study in Philosophy",
                "PHY 1000: Physics for Future Presidents (NLAB)",
                "PHY 1030: Astronomy (LAB SCI)",
                "PHYL1030: Astronomy (LAB)",
                "PHY 1050: Cosmology (NLAB)",
                "PHY 1200: Fundamental Physics (LAB SCI)",
                "PHYL1200: Fundamental Physics (LAB)",
                "PHY 2100: Physics I (LAB SCI)",
                "PHYL2100: Physics I (LAB)",
                "PHY 2110: Physics II (LAB SCI)",
                "PHYL2110: Physics II Lab",
                "PHY 2200: General Physics I (LAB SCI)",
                "PHY 2210: General Physics II (LAB SCI)",
                "PHYL2300: Modern Physics (LAB)",
                "PHY 2300W: Modern Physics (LAB SCI)(WI)",
                "PHY 3100: Optics and Waves (NLAB)",
                "PHY 3300: Thermodynamics (NLAB)",
                "PHY 3470: Mathematics for Scientists and Engineers (MTH)",
                "PHY 4000: Senior Thesis Seminar",
                "PHY 400U: TP: Physics Portfolio Seminar A - Problem Solving I",
                "PHY 400V: TP: Physics Portfolio Seminar B - Professional Development I",
                "PHY 400X: TP: Physics Portfolio Seminar C - Problem Solving II",
                "PHY 400Y: TP: Physics Portfolio Seminar D - Professional Development II",
                "PHY 4010: Senior Thesis Research",
                "PHY 4100: Astrophysics (NLAB)",
                "PHY 4150: Physics of Global Climate Change (NLAB)",
                "PHY 4300: Electricity and Magnetism (NLAB)",
                "PHY 4500: Independent Study in Physics",
                "PHY 4900: Independent Research",
                "PHY 4990: Senior Thesis Completion",
                "POL 1030: Introduction to Comparative Politics (SOC)",
                "POL 1040: Introduction to Public Policy (SOC)",
                "POL 1050: Introduction to International Relations (SOC)",
                "POL 1070: Introduction to Political Theory (SOC)",
                "POL 1910: Law and Society",
                "POL 200C: TP: African American Political Thought (SOC)",
                "POL 2050W: Philosophical Foundations of Political Economy (SOC)(WI)",
                "POL 2400: American Government: National, State, and Local (SOC)",
                "POL 2900: Constitutional Law and the Separation of Powers (SOC)",
                "POL 2910W: Constitutional Law: Civil Liberties and Civil Rights (WI) (SOC)",
                "POL 3040WB: African Transitions(WI)(GH)",
                "POL 3100W: The Logic of Political Inquiry (SOC)(WI)",
                "POL 3110: Women's and Gender Studies Theory",
                "POL 3200: Women and Politics (SOC)",
                "POL 3260: Studies in Political Theory (SOC)",
                "POL 3350: Human Rights",
                "POL 3530: Congress and the Presidency (SOC)",
                "POL 3580: American Foreign Policy (SOC)",
                "POL 3610: Nuclear Proliferation (SOC)",
                "POL 3620: Environmental Politics (SOC)",
                "POL 4000W: Senior Seminar in Political Science (SOC)(WI)",
                "POL 4050W: Seminar in International Political Economy (SOC)(WI)",
                "PYC 1500: Introduction to Psychological Science (SOC)",
                "PYC 1850: Lifespan Developmental Psychology for the Health Professional",
                "PYC 200Y: TP: Introduction to Music Therapy",
                "PYC 2010: Research Methods and Statistics I (SOC)",
                "PYC 2150: Sensation and Perception (SOC)",
                "PYC 2200: Social Psychology (SOC)",
                "PYC 2300: Cognitive Psychology (SOC)",
                "PYC 2850: Child and Adolescent Development (SOC)",
                "PYC 3010W: Research Methods and Statistics II (SOC)(WI)",
                "PYC 3200: Psychological Science of Teaching and Learning",
                "PYC 3500: Abnormal Psychology (SOC)",
                "PYC 3750: Psychology of Personality (SOC)",
                "PYC 3850: Adult Development and Aging (SOC)",
                "PYC 400A: TP: Advanced Research Methods in Psychology",
                "PYC 4500: Independent Study",
                "PYC 4700W: Fieldwork in Psychological Science (WI)",
                "PYC 4800W: Thesis in Psychological Science (WI)",
                "PYC 4990: Senior Thesis Completion",
                "REL 1000: Understandings of Religion (REL)",
                "REL 1000W: Understandings of Religion (WI) (REL)",
                "REL 2000: History of Christian Thought (REL)",
                "REL 200C: TP: Ancient Jerusalem (REL)",
                "REL 200H BS: TP: Beauty and the Sacred: Art and Architecture in Islam (REL)(GH)(CS)",
                "REL 200J: TP: Sociology of Religion (REL)",
                "REL 200P  S: TP: Apocalyptic Imaginings (CS)(REL)",
                "REL 200S: TP:Christians and Muslims: Conflict vs. Dialogue (REL)",
                "REL 200V: TP: Sociology of Religion (REL)",
                "REL 2010: Jewish Bible-Old Testament (REL)",
                "REL 2010W: Jewish Bible-Old Testament(REL) (WI)",
                "REL 2020: The Gospels (REL)",
                "REL 2030: The Letters of the New Testament (REL)",
                "REL 2040: Christian Spirituality (REL)",
                "REL 2070: Understandings of Love (REL)",
                "REL 2200: Faith, Love, and Ethics (REL)",
                "REL 2210 B: Christianities in the Global South (REL)(GH)",
                "REL 2220 B: Jesus Beyond Christianity (REL)(GH)",
                "REL 2300: Issues in Living and Dying (REL)",
                "REL 3020W: Women and the Bible (REL)(WI)",
                "REL 3030: Creation and Apocalypse: Explorations in Religion and Science (REL)",
                "REL 3110 B: Hinduism (REL)(GH)",
                "REL 3140 B: East Asian Religions (REL)(GH)",
                "REL 3150 B: The Sikhs (GH)(REL)",
                "REL 3310: Greek Religions (REL)",
                "REL 3500 B: Shared Sages in Sacred Scriptures: An Inter-religious Exploration (REL)(GH)",
                "SOC 1000: Introduction to Sociology (SOC)",
                "SOC 1020: Cultural Anthropology (SOC)",
                "SOC 2040: Sociology of Religion (SOC)",
                "SOC 2270: Juvenile Delinquency",
                "SOC 2520: Marriage and the Family",
                "SOC 2530: Racial and Cultural Minorities",
                "SOC 2770: Sex, Gender, and Sexuality in a Diverse World (SOC)",
                "SOC 3020: Sociological Research I (SOC)",
                "SOC 3040WB: African Transitions (WI)(GH)",
                "SOC 3240: Logic of Sociological Inquiry",
                "SOC 3500: Field Placement in Sociology",
                "SOC 3900: Data Analysis",
                "SOC 4010: Social Theory Seminar (SOC)",
                "SOC 4500: Independent Study",
                "SOC 4990: Senior Seminar in Sociology",
                "SOC 4990W: Senior Seminar in Sociology (WI)",
                "SWK 200C: TP: Writing for the Social Work Profession",
                "SWK 2210W: Family Violence (WI)",
                "SWK 2300: Contemporary Social Work Practice",
                "SWK 2330: Applied Statistics for Health and Human Services (MTH)",
                "SWK 2400W: Human Behavior in the Social Environment (SOC)(WI)",
                "SWK 2500: Engaging Multicultural Students and Families",
                "SWK 2600: Ethics and Leadership in a Multicultural Society",
                "SWK 3000: Social Welfare Research (SOC)",
                "SWK 3100W: Social Welfare Policy Analysis (SOC)(WI)",
                "SWK 3300: Introduction to Social Work Practice",
                "SWK 400FW: TP: Trauma Across Social Contexts (WI)",
                "SWK 4200: Advanced Social Work Practice",
                "SWK 4300: Integrative Seminar",
                "SWK 4500: Independent Study in Social Work",
                "SWK 4610: Social Work Field Placement I",
                "SWK 4620: Social Work Field Placement II",
                "SWK 4900: Independent Study",
                "THR 0100: Theatre Service and Practice",
                "THR 0200: Applied Technical Production",
                "THR 0300: Applied Acting and Directing",
                "DNC 1041: Applied Dance: Ballet I (PE)",
                "DNC 1043: Applied Dance: Tap I (PE)",
                "DNC 1044: Applied Dance: Jazz I (PE)",
                "DNC 1047: Applied Dance: Modern I (PE)",
                "THR 1110: Introduction to Acting (FAR)",
                "DNC 1120: Dance Theory and Practices",
                "THR 1200: Advanced Theatre Lab",
                "DNC 2041: Applied Dance: Ballet II (PE)",
                "DNC 2044: Applied Dance: Jazz II (PE)",
                "DNC 2047: Applied Dance: Modern II (PE)",
                "DNC 2060: Dance Theory and Composition",
                "DNC 2070: Dance Choreography and Repertory",
                "THR 2110: Acting I: Fundamentals of Acting (For Majors and Minors)",
                "THR 2180: Theatre for Children (FAR)",
                "THR 2620: Music Theatre Workshop",
                "THR 2900W: Play Reading and Analysis (WI)",
                "THR 2910: Play Production I: Stagecraft",
                "THRL2910: Play Production I: Stagecrafts (LAB)",
                "THR 2920: Play Production II: Costumes and Makeup",
                "THRL2920: Play Production II: Costuming & Makeup (LAB)",
                "THR 2940: Play Production IV: Scenic Painting",
                "THR 2950: Play Production V: Advanced Makeup Techniques",
                "THR 3000: Playwriting",
                "DNC 3050: Dance History",
                "DNC 3050W: Dance History (WI)",
                "THR 3100: Voice for the Stage",
                "THR 3110: Acting II: Character and Scene Study",
                "THR 3210: Ensemble and Experimental Theatre",
                "THR 3260: History of Premodern Theatre (FAR)",
                "THR 3270: History of Classical Theatre (FAR)",
                "THR 3400: Music Theatre History",
                "THR 3600: History of Scenic Design",
                "THR 4010: Senior Seminar in Theatre",
                "THR 4110: Acting III: Periods and Styles",
                "THR 4500: Independent Study in Theatre",
                "THR 4550W: Directing (WI)",
                "THR 4600: Scenic Design",
                "THR 4610: Costume Design",
                "THR 4990: Senior Thesis Completion",
                "ASN 1000 B: Interdisciplinary Introduction to Asian Studies (GH)",
                "ASN 200A B: TP: Issues in Asian History (HUM)(GH)",
                "ASN 200C B: TP: History of Modern Japan (HUM)(GH)",
                "ASN 4000W: Senior Seminar in Asian Studies (WI)",
                "ATH 1020: Introduction to Athletic Training",
                "ATH 2080: Structural Kinesiology",
                "ATH 2100: Athletic Training Practicum I",
                "ATH 2190: Principles of Athletic Training",
                "ATH 3033: Therapeutic Rehabilitation I",
                "ATH 3040: Clinical Skills in Athletic Training I",
                "ATH 3070: Clinical Skills in Athletic Training II",
                "ATH 3200: Athletic Training Practicum II",
                "ATH 3300: Athletic Training Practicum III",
                "ATH 3510: Field Placement in Athletic Training",
                "ATH 4044: Therapeutic Rehabilitation II",
                "ATH 4080W: Administration in Athletic Training (WI)",
                "ATH 4100: Pharmacology in Athletic Training",
                "ATH 4400: Athletic Training Practicum IV",
                "ATH 4600: Athletic Training Practicum V",
                "ATH 4990: Senior Project Completion",
                "CRJ 1000: Criminal Justice System (SOC)",
                "CRJ 2260: Criminology",
                "CRJ 2700: Criminal Law (SOC)",
                "CRJ 3010: Police and Society",
                "CRJ 3020: American Courts",
                "CRJ 3030: Corrections",
                "CRJ 3300: Mock Trial",
                "CRJ 4500: Independent Study in Criminal Justice",
                "CRJ 4990W: Senior Seminar (WI)",
                "ENVL1000: Introduction to Environmental Science (LAB)",
                "ENV 1000W: Introduction to Environmental Science (LAB SCI)(WI)",
                "ENVL1600: Introduction to Environmental Science (LAB)",
                "ENV 1600W: Introduction to Environmental Science (LAB SCI)(WI)",
                "ENV 2000: Environmental Pollutants (NLAB)",
                "ENV 2010: Environmental Chemistry (LAB SCI)",
                "ENVL2010: Environmental Chemistry (LAB)",
                "ENV 2550: Environmental Pollutants (NLAB)",
                "ENV 2610: Case Studies in Environmental Science (LAB SCI)",
                "ENVL2610: Case Studies in Environmental Science (LAB)",
                "ENV 3000: Research Design",
                "ENV 3550: Internship",
                "ENV 4000: Senior Seminar",
                "ENV 4000W: Senior Seminar (WI)",
                "ENV 400H: TP: Field Botany and Mycology",
                "ENVL400H: TP: Field Botany and Mycology",
                "ENV 4900: Research in Environmental Science",
                "ENV 4980: Applied Experience in the Discipline",
                "ENV 4990: Senior Thesis Completion",
                "GFW 2210  S: Foundations of Western Thought I:(Ancient to Medieval)(CS)(HUM)",
                "GFW 2220  S: Foundations of Western Thought: Renaissance to Modern (CS)",
                "GFW 2310: Foundations of American Thought",
                "GFW 2410W: Foundations of Natural Science (WI)(NON LAB)",
                "GFW 3010  S: Seminar in Ancient Thought (HUM) (CS)",
                "GFW 3040: Seminar in Modern Thought",
                "GFW 3040W: Seminar in Modern Thought (WI)",
                "GFW 4990: Senior Thesis Completion",
                "GNR 0000: College Success Seminar",
                "GNR 675A  S: TP: Frank Lloyd Wright (CS)",
                "GNR 9000: Department Chair Release",
                "GNR 9001: Academic Program Coordinator Release",
                "GNR 9002: Academic Program Director Release",
                "GNR 9003: Sabbatical Release",
                "GNR 9004: Other Release",
                "NAT 200C: TP: Field Experience in Teaching Math and Science in High Need Schools",
                "NAT 400A: TP: Technical Project Management",
                "NAT 4200: Methods and Materials in Teaching Natural Science",
                "HON 0010: Honors Reflection 1",
                "NEU 2100: Introduction to Behavioral Neuroscience (NLAB)",
                "NEUL2500: Neuroscience Research Methods and Statistical Analysis (LAB)",
                "NEU 2500W: Neuroscience Research Methods and Statistical Analysis (LAB)(WI)",
                "NEU 3950: Neuroscience II: Cellular and Molecular Neuroscience",
                "NEUL3950: Neuroscience II: Electrical and Chemical Properties (LAB)",
                "NEU 4000: Senior Thesis in Neuroscience",
                "NEU 4000W: Senior Thesis in Neuroscience (WI)",
                "NEU 4100: Neuroscience III: Neuroanatomy and Physiology",
                "NEUL4100: Neuroscience III: Development and Neuroanatomy (LAB)",
                "NEU 4900: Research in Neuroscience",
                "COR 1100: The Intellectual History of Western Heritage I",
                "COR 1110: The Intellectual History of Western Heritage II",
                "WMG 1100: Introduction to Women's and Gender Studies",
                "WMG 200R: TP: Gender Communication",
                "WMG 2210W: Family Violence (WI)",
                "WMG 2500: Blacks in Antiquity: Race in the Ancient Mediterranean World (HUM)",
                "WMG 2530: Racial and Cultural Minorities",
                "WMG 2770: Sex, Gender, and Sexuality in a Diverse World",
                "WMG 2910W: Constitutional Law II: Civil Rights and Civil Liberties (SOC)(WI)",
                "WMG 3020W: Women and the Bible (WI)(HUM)",
                "WMG 3040WB: African Transitions (WI)(GH)",
                "WMG 3100: Literature and Gender (HUM)",
                "WMG 3110: Women's and Gender Studies Theory",
                "WMG 3200: Women and Politics (SOC)",
                "WMG 3330  S: The Economics of Love and Sex (CS)",
                "WMG 3350: Human Rights",
                "WMG 400H  S: TP: Advanced Feminist Theory: Womanist Theory (CS)",
                "WMG 4200: The Gendering of Leadership"
            ];
            $( ".course input" ).autocomplete({
                source: availableCourses
            });
            $( "#course3" ).parent().hide();
            $( "#course4" ).parent().hide();
            $( "#course5" ).parent().hide();
            $( "#course6" ).parent().hide();
            $( "#course7" ).parent().hide();
            $( "#course8" ).parent().hide();
            $( "#add" ).click(function(event) {
                var n = $( ".course:visible" ).length + 1;
                $( "#course" + n ).parent().show();
                console.log("There are " + n + " visible course input boxes")
                if (n == 8) { $( "#add" ).hide() };
            });
        } );
  </script>
{% endblock %}
{% block extra_style %}
<style type="text/css">
  body{ font-family: 'Open Sans',serif; }
 .course input {width:30em;}
</style>
{% endblock %}
{% block content %}
{% get_lw_content as instructions blurbs 2951 %}
{{instructions.body}}
<form method="post" action="." class="form" id="profile">
  {% csrf_token %}
<div class="course">
  <input type="text" id="course1" name="course1">
</div>
<div class="course">
  <input type="text" id="course2" name="course2">
</div>
<div class="course">
  <input type="text" id="course3" name="course3">
</div>
<div class="course">
  <input type="text" id="course4" name="course4">
</div>
<div class="course">
  <input type="text" id="course5" name="course5">
</div>
<div class="course">
  <input type="text" id="course6" name="course6">
</div>
<div class="course">
  <input type="text" id="course7" name="course7">
</div>
<div class="course">
  <input type="text" id="course8" name="course8">
</div>
<div>
  <input type="button" id="add" value="add another field">
</div>
<ol class="mt-4">
  <li>
    <input id="id_submit" type="submit" value="Submit" class="button">
  </li>
</ol>
</form>
{% endblock %}
